In [1]:
import numpy as np
import pandas as pd
import datetime
import math
from os import listdir
from os.path import isfile, join
import json

In [54]:
out='../output/'
inp='../input/monthly/'
pref='fpw'

In [55]:
dat=pd.DataFrame(columns=[0,1,2])
onlyfiles = [f for f in listdir(inp) if isfile(join(inp, f))]
for f in onlyfiles:
    if (f.split('_')[0]==pref):
        #print(f)
        with open(join(inp, f), "r") as read_file:
            data = pd.DataFrame(json.load(read_file))
            dat=pd.concat([dat,data])

dat

,0,1,2
0,Date:Time,Price(USD/MWh),Turnover(MWh)
1,Min,,
2,Max,,
3,Average,,
4,Total,,
...,...,...,...
144,(2022/02/06) 23-24,29.94,22
145,Min,29.94,0
146,Max,170,22
147,Average,76.684861111111111111111111111,11.152777777777777777777777778
148,Total,11042.62,1606

In [56]:
dat.drop(dat[dat[0] == 'Date:Time'].index, inplace = True)
dat.drop(dat[dat[0] == 'Min'].index, inplace = True)
dat.drop(dat[dat[0] == 'Max'].index, inplace = True)
dat.drop(dat[dat[0] == 'Average'].index, inplace = True)
dat.drop(dat[dat[0] == 'Total'].index, inplace = True)
dat.columns=['datehour','price','volume']
dat['price']=dat['price'].astype(float)
dat['volume']=dat['volume'].astype(float)
dat

               datehour  price  volume
5    (2017/03/06) 04-05  29.00    50.0
6    (2017/03/06) 05-06  29.00    50.0
7    (2017/03/06) 06-07  65.00     0.0
8    (2017/03/06) 07-08  97.21     0.0
9    (2017/03/06) 08-09  97.21     0.0
..                  ...    ...     ...
140  (2022/02/06) 19-20  29.94    22.0
141  (2022/02/06) 20-21  29.94    22.0
142  (2022/02/06) 21-22  29.94    22.0
143  (2022/02/06) 22-23  29.94    22.0
144  (2022/02/06) 23-24  29.94    22.0

[39964 rows x 3 columns]

In [57]:
dat['date']=pd.to_datetime(dat.datehour.str.slice(1,11),format="%Y/%m/%d")
dat['hour']=dat.datehour.str.slice(13,15).astype(int)
dat

               datehour  price  volume       date  hour
5    (2017/03/06) 04-05  29.00    50.0 2017-03-06     4
6    (2017/03/06) 05-06  29.00    50.0 2017-03-06     5
7    (2017/03/06) 06-07  65.00     0.0 2017-03-06     6
8    (2017/03/06) 07-08  97.21     0.0 2017-03-06     7
9    (2017/03/06) 08-09  97.21     0.0 2017-03-06     8
..                  ...    ...     ...        ...   ...
140  (2022/02/06) 19-20  29.94    22.0 2022-02-06    19
141  (2022/02/06) 20-21  29.94    22.0 2022-02-06    20
142  (2022/02/06) 21-22  29.94    22.0 2022-02-06    21
143  (2022/02/06) 22-23  29.94    22.0 2022-02-06    22
144  (2022/02/06) 23-24  29.94    22.0 2022-02-06    23

[39964 rows x 5 columns]

In [58]:
dat=dat.drop(['datehour'],1)
dat

     price  volume       date  hour
5    29.00    50.0 2017-03-06     4
6    29.00    50.0 2017-03-06     5
7    65.00     0.0 2017-03-06     6
8    97.21     0.0 2017-03-06     7
9    97.21     0.0 2017-03-06     8
..     ...     ...        ...   ...
140  29.94    22.0 2022-02-06    19
141  29.94    22.0 2022-02-06    20
142  29.94    22.0 2022-02-06    21
143  29.94    22.0 2022-02-06    22
144  29.94    22.0 2022-02-06    23

[39964 rows x 4 columns]

In [59]:
hourly=dat.set_index(pd.DatetimeIndex(dat['date']))
hourly['year']=hourly.index.year
hourly['month']=hourly.index.month
hourly['day']=hourly.index.day
hourly['day_of_week']=hourly.index.dayofweek
hourly=hourly.drop(['date'],axis=1)
hourly

            price  volume  hour  year  month  day  day_of_week
date
2017-03-06  29.00    50.0     4  2017      3    6            0
2017-03-06  29.00    50.0     5  2017      3    6            0
2017-03-06  65.00     0.0     6  2017      3    6            0
2017-03-06  97.21     0.0     7  2017      3    6            0
2017-03-06  97.21     0.0     8  2017      3    6            0
...           ...     ...   ...   ...    ...  ...          ...
2022-02-06  29.94    22.0    19  2022      2    6            6
2022-02-06  29.94    22.0    20  2022      2    6            6
2022-02-06  29.94    22.0    21  2022      2    6            6
2022-02-06  29.94    22.0    22  2022      2    6            6
2022-02-06  29.94    22.0    23  2022      2    6            6

[39964 rows x 7 columns]

In [60]:
hourly['value']=hourly['price']*hourly['volume']
daily=hourly.reset_index().groupby(['year','month','day']).sum().drop(['hour','day_of_week'],axis=1)
daily['price_weight_av']=daily['value']/daily['volume']
daily=daily.drop(['price'], axis=1)
daily['price_max']=hourly[['year','month','day','price']].groupby(['year','month','day']).max()
daily['price_min']=hourly[['year','month','day','price']].groupby(['year','month','day']).min()
daily['price_mean']=hourly[['year','month','day','price']].groupby(['year','month','day']).mean()

daily['power_max']=hourly[['year','month','day','volume']].groupby(['year','month','day']).max()
daily['power_min']=hourly[['year','month','day','volume']].groupby(['year','month','day']).min()
daily['power_mean']=hourly[['year','month','day','volume']].groupby(['year','month','day']).mean()

daily['price_morning_max']=hourly.loc[hourly['hour']<11][['year','month','day','price']].groupby(['year','month','day']).max()
daily['price_evening_max']=hourly.loc[hourly['hour']>=11][['year','month','day','price']].groupby(['year','month','day']).max()
daily['price_standard']=hourly.loc[(hourly['hour']>=12) & (hourly['hour']<=15)][['year','month','day','price']].groupby(['year','month','day']).mean()
daily=daily.reset_index()
daily['date']=pd.to_datetime(daily.reset_index()[['year', 'month', 'day']])
daily=daily.set_index(['year','month','day'])
daily

                volume     value  price_weight_av  price_max  price_min  \
year month day
2017 3     6     200.0   5800.00            29.00      97.21      29.00
           7     400.0  11600.00            29.00      97.21      29.00
           8     400.0  11600.00            29.00      97.21      29.00
           9     400.0  11600.00            29.00      97.21      29.00
           10    200.0   5800.00            29.00      97.21      29.00
...                ...       ...              ...        ...        ...
2022 2     2     176.0   5269.44            29.94     170.00      29.94
           3     176.0   5269.44            29.94     170.00      29.94
           4     176.0   5269.44            29.94     170.00      29.94
           5     286.0   8562.84            29.94     107.00      29.94
           6     528.0  15808.32            29.94      29.94      29.94

                price_mean  power_max  power_min  power_mean  \
year month day
2017 3     6     65.852500       50.0        0.0   10.000000
           7     59.710417       50.0        0.0   16.666667
           8     59.710417       50.0        0.0   16.666667
           9     59.710417       50.0        0.0   16.666667
           10    65.852500       50.0        0.0   10.000000
...                    ...        ...        ...         ...
2022 2     2     94.438333       22.0        0.0    7.333333
           3     94.438333       22.0        0.0    7.333333
           4     94.438333       22.0        0.0    7.333333
           5     56.911000       22.0        0.0   14.300000
           6     29.940000       22.0       22.0   22.000000

                price_morning_max  price_evening_max  price_standard  \
year month day
2017 3     6                97.21              97.21           65.00
           7                97.21              97.21           65.00
           8                97.21              97.21           65.00
           9                97.21              97.21           65.00
           10               97.21              97.21           65.00
...                           ...                ...             ...
2022 2     2               170.00             170.00          107.00
           3               170.00             170.00          107.00
           4               170.00             170.00          107.00
           5               107.00             107.00           29.94
           6                29.94              29.94           29.94

                     date
year month day
2017 3     6   2017-03-06
           7   2017-03-07
           8   2017-03-08
           9   2017-03-09
           10  2017-03-10
...                   ...
2022 2     2   2022-02-02
           3   2022-02-03
           4   2022-02-04
           5   2022-02-05
           6   2022-02-06

[1745 rows x 13 columns]

In [61]:
hourly['cat']='off'

if (pref=='dam'):
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==6),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=7) & (hourly['hour']<=9),'cat']='morning'

    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=10) & (hourly['hour']<=16),'cat']='standard'

    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==17) & (hourly['month']>=6) & (hourly['month']<=8),'cat']='evening'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==17) & ((hourly['month']<=5) | (hourly['month']>=9)),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==18) & (hourly['month']<=3),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==18) & (hourly['month']>=4),'cat']='evening'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==19),'cat']='evening'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==20) & (hourly['month']<=3),'cat']='evening'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==20) & (hourly['month']>=4),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==21),'cat']='standard'

    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=7) & (hourly['hour']<=11),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==17) & (hourly['month']>=6) & (hourly['month']<=8),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==18) & (hourly['month']>=4),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==19),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==20) & (hourly['month']<=3),'cat']='standard'

if (pref=='fpm'):
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=6) & (hourly['hour']<=21),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=7) & (hourly['hour']<=11),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=18) & (hourly['hour']<=19),'cat']='standard'

if (pref=='fpw'):
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==5),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=6) & (hourly['hour']<=8),'cat']='morning'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=9) & (hourly['hour']<=17),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=18) & (hourly['hour']<=19),'cat']='evening'
    
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=7) & (hourly['hour']<=11),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=18) & (hourly['hour']<=19),'cat']='standard'
    
hourly

,price,volume,hour,year,month,day,day_of_week,value,cat
date,,,,,,,,,
2017-03-06,29.00,50.0,4,2017,3,6,0,1450.00,off
2017-03-06,29.00,50.0,5,2017,3,6,0,1450.00,standard
2017-03-06,65.00,0.0,6,2017,3,6,0,0.00,morning
2017-03-06,97.21,0.0,7,2017,3,6,0,0.00,morning
2017-03-06,97.21,0.0,8,2017,3,6,0,0.00,morning
...,...,...,...,...,...,...,...,...,...
2022-02-06,29.94,22.0,19,2022,2,6,6,658.68,off
2022-02-06,29.94,22.0,20,2022,2,6,6,658.68,off
2022-02-06,29.94,22.0,21,2022,2,6,6,658.68,off
2022-02-06,29.94,22.0,22,2022,2,6,6,658.68,off
2022-02-06,29.94,22.0,23,2022,2,6,6,658.68,off

In [62]:
daily['off_price_mean']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()
daily['standard_price_mean']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()
daily['morning_price_mean']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()
daily['evening_price_mean']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()

daily['off_hour_count']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()
daily['standard_hour_count']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()
daily['morning_hour_count']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()
daily['evening_hour_count']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()

daily['off_volume']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['standard_volume']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['morning_volume']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['evening_volume']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()

daily['off_value']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()
daily['standard_value']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()
daily['morning_value']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()
daily['evening_value']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()

daily

                volume     value  price_weight_av  price_max  price_min  \
year month day
2017 3     6     200.0   5800.00            29.00      97.21      29.00
           7     400.0  11600.00            29.00      97.21      29.00
           8     400.0  11600.00            29.00      97.21      29.00
           9     400.0  11600.00            29.00      97.21      29.00
           10    200.0   5800.00            29.00      97.21      29.00
...                ...       ...              ...        ...        ...
2022 2     2     176.0   5269.44            29.94     170.00      29.94
           3     176.0   5269.44            29.94     170.00      29.94
           4     176.0   5269.44            29.94     170.00      29.94
           5     286.0   8562.84            29.94     107.00      29.94
           6     528.0  15808.32            29.94      29.94      29.94

                price_mean  power_max  power_min  power_mean  \
year month day
2017 3     6     65.852500       50.0        0.0   10.000000
           7     59.710417       50.0        0.0   16.666667
           8     59.710417       50.0        0.0   16.666667
           9     59.710417       50.0        0.0   16.666667
           10    65.852500       50.0        0.0   10.000000
...                    ...        ...        ...         ...
2022 2     2     94.438333       22.0        0.0    7.333333
           3     94.438333       22.0        0.0    7.333333
           4     94.438333       22.0        0.0    7.333333
           5     56.911000       22.0        0.0   14.300000
           6     29.940000       22.0       22.0   22.000000

                price_morning_max  ...  morning_hour_count  \
year month day                     ...
2017 3     6                97.21  ...                 3.0
           7                97.21  ...                 3.0
           8                97.21  ...                 3.0
           9                97.21  ...                 3.0
           10               97.21  ...                 3.0
...                           ...  ...                 ...
2022 2     2               170.00  ...                 3.0
           3               170.00  ...                 3.0
           4               170.00  ...                 3.0
           5               107.00  ...                 NaN
           6                29.94  ...                 NaN

                evening_hour_count off_volume  standard_volume  \
year month day
2017 3     6                   2.0      150.0             50.0
           7                   2.0      350.0             50.0
           8                   2.0      350.0             50.0
           9                   2.0      350.0             50.0
           10                  2.0      150.0             50.0
...                            ...        ...              ...
2022 2     2                   2.0      154.0             22.0
           3                   2.0      154.0             22.0
           4                   2.0      154.0             22.0
           5                   NaN      286.0              0.0
           6                   NaN      528.0              NaN

                morning_volume  evening_volume  off_value  standard_value  \
year month day
2017 3     6               0.0             0.0    4350.00         1450.00
           7               0.0             0.0   10150.00         1450.00
           8               0.0             0.0   10150.00         1450.00
           9               0.0             0.0   10150.00         1450.00
           10              0.0             0.0    4350.00         1450.00
...                        ...             ...        ...             ...
2022 2     2               0.0             0.0    4610.76          658.68
           3               0.0             0.0    4610.76          658.68
           4               0.0             0.0    4610.76          658.68
           5               NaN             NaN    8562.84            0.00
           6               NaN             NaN   15808.32             NaN

                morning_value  evening_value
year month day
2017 3     6              0.0            0.0
           7              0.0            0.0
           8              0.0            0.0
           9              0.0            0.0
           10             0.0            0.0
...                       ...            ...
2022 2     2              0.0            0.0
           3              0.0            0.0
           4              0.0            0.0
           5              NaN            NaN
           6              NaN            NaN

[1745 rows x 29 columns]

In [63]:
daily.to_csv(out + pref + '_daily.csv')

In [64]:
hourly.to_csv(out + pref + '_hourly.csv')

In [65]:
hourly_flat=hourly.reset_index().set_index(['date'])
hourly_slim=hourly_flat[['hour','price','volume','cat']]
hourly_slim

            hour  price  volume       cat
date
2017-03-06     4  29.00    50.0       off
2017-03-06     5  29.00    50.0  standard
2017-03-06     6  65.00     0.0   morning
2017-03-06     7  97.21     0.0   morning
2017-03-06     8  97.21     0.0   morning
...          ...    ...     ...       ...
2022-02-06    19  29.94    22.0       off
2022-02-06    20  29.94    22.0       off
2022-02-06    21  29.94    22.0       off
2022-02-06    22  29.94    22.0       off
2022-02-06    23  29.94    22.0       off

[39964 rows x 4 columns]

In [66]:
hourly_slim.to_csv(out + pref + '_hourly_slim.csv')

In [67]:
monthly=daily.groupby(['year','month']).mean().reset_index(['month','year'])
monthly=monthly.drop(['morning_volume','off_volume','standard_volume','evening_volume','price_weight_av'],1)
monthly.rename(columns={'value':'value_mean','volume':'volume_mean','off_hour_count':'off_hour_mean','standard_hour_count':'standard_hour_mean','morning_hour_count':'morning_hour_mean','evening_hour_count':'evening_hour_mean'}, inplace=True)
monthly[['price_max','standard_price_max','off_price_max','morning_price_max','evening_price_max']]=daily.groupby(['year','month']).max().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]
monthly[['price_min','standard_price_min','off_price_min','morning_price_min','evening_price_min']]=daily.groupby(['year','month']).min().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]
monthly[['price_stdev','standard_price_stdev','off_price_stdev','morning_price_stdev','evening_price_stdev']]=daily.groupby(['year','month']).std().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]

monthly[['volume','morning_volume','evening_volume','standard_volume','off_volume']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['volume','morning_volume','evening_volume','standard_volume','off_volume']]
monthly[['value','morning_value','evening_value','standard_value','off_value']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['value','morning_value','evening_value','standard_value','off_value']]

monthly[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]

monthly['price_weight_mean']=monthly['value'] / monthly['volume']
monthly['off_price_weight_mean']=monthly['off_value'] / monthly['off_volume']
monthly['standard_price_weight_mean']=monthly['standard_value'] / monthly['standard_volume']
monthly['morning_price_weight_mean']=monthly['morning_value'] / monthly['morning_volume']
monthly['evening_price_weight_mean']=monthly['evening_value'] / monthly['evening_volume']


monthly['off_power']=monthly['off_volume'] / monthly['off_hour_count']
monthly['morning_power']=monthly['morning_volume'] / monthly['morning_hour_count']
monthly['standard_power']=monthly['standard_volume'] / monthly['standard_hour_count']
monthly['evening_power']=monthly['evening_volume'] / monthly['evening_hour_count']

monthly

,year,month,volume_mean,value_mean,price_max,price_min,price_mean,power_max,power_min,power_mean,...,evening_hour_count,price_weight_mean,off_price_weight_mean,standard_price_weight_mean,morning_price_weight_mean,evening_price_weight_mean,off_power,morning_power,standard_power,evening_power
0,2017,3,587.105263,18165.002632,65.852500,29.00,49.938662,50.000000,9.473684,25.076754,...,30.0,30.939942,27.459177,34.148967,64.340852,86.158317,41.512195,7.822222,12.750000,6.733333
1,2017,4,1148.500000,38363.365000,44.465833,23.40,34.944417,64.900000,37.000000,50.404167,...,4.0,33.403017,24.330980,41.851838,76.297844,87.970000,59.745455,44.533333,30.874074,51.800000
2,2017,5,949.871429,42241.205667,57.075833,23.54,42.601155,61.290476,30.352381,40.792698,...,30.0,44.470446,26.864611,47.257466,79.193597,88.723370,41.300000,50.655556,34.235088,60.633333
3,2017,6,477.653846,23265.706154,71.232500,29.95,58.039212,28.461538,10.423077,20.528205,...,40.0,48.708299,33.990683,61.625498,86.514416,115.321589,24.819788,11.700000,19.868778,7.550000
4,2017,7,460.096774,20449.032097,70.355000,25.05,52.809522,22.838710,11.580645,20.202016,...,42.0,44.445067,32.064852,59.895533,79.061769,110.973696,24.547486,10.317460,18.755102,5.476190
5,2017,8,455.000000,22275.962903,64.280500,28.61,52.141602,23.419355,14.354839,19.951882,...,46.0,48.958160,32.666806,57.921955,82.467739,99.018571,21.492537,16.405797,19.771318,14.608696
6,2017,9,434.916667,19724.003333,63.146000,26.93,50.934131,21.000000,12.583333,18.947917,...,42.0,45.351224,31.534111,57.501670,75.761157,94.614187,21.301775,12.619048,19.091837,8.928571
7,2017,10,629.367742,29708.751226,60.922500,26.92,48.947333,29.032258,22.554839,27.563871,...,44.0,47.204121,31.441835,58.422616,76.447836,88.679545,28.891429,22.969697,28.235484,20.000000
8,2017,11,657.756667,28031.525633,59.438500,26.14,48.352639,38.596667,22.306667,28.336250,...,44.0,42.616863,28.747793,55.714666,76.915099,85.168890,35.936970,22.227273,21.691532,23.340909
9,2017,12,621.906452,28655.456194,64.220000,26.61,49.656339,32.809677,20.435484,27.004651,...,42.0,46.076795,31.036576,59.088798,78.054909,89.241905,30.109497,21.920635,25.628163,20.000000
10,2018,1,168.977419,7474.377129,68.281500,30.06,53.431710,10.716129,5.093548,7.429758,...,46.0,44.232994,31.997928,56.466389,77.848644,84.984716,9.789851,5.513043,5.025969,6.121739
11,2018,2,154.961905,5640.024571,68.281500,30.80,55.031948,22.600000,0.000000,6.730635,...,30.0,36.396201,34.262130,43.992136,67.980000,NaN,10.706612,0.455556,3.758480,0.000000
12,2018,3,256.451613,8647.548387,67.863500,29.27,51.125957,19.354839,4.838710,10.846774,...,44.0,33.720000,33.720000,33.720000,NaN,NaN,22.303207,0.000000,1.176471,0.000000
13,2018,4,133.666667,3629.883333,61.533500,19.45,45.991792,11.666667,2.166667,5.773611,...,42.0,27.156234,27.124704,27.335195,27.730000,27.730000,10.289855,0.714286,1.617647,0.714286
14,2018,5,62.096774,1597.129032,68.043000,25.72,46.683417,5.645161,0.806452,2.721774,...,46.0,25.720000,25.720000,25.720000,NaN,NaN,5.373134,0.000000,0.484496,0.000000
15,2018,6,65.850000,1815.859167,87.600500,24.90,56.053961,6.316667,0.866667,2.810972,...,42.0,27.575690,26.065929,30.267951,117.910000,117.910000,5.349112,0.206349,0.577551,0.309524
16,2018,7,212.754839,11976.107452,87.533500,24.90,60.417253,21.348387,2.093548,9.526747,...,44.0,56.290647,26.406672,83.302821,152.138517,152.138517,13.281143,9.500000,2.794355,14.250000
17,2018,8,418.096774,20743.860645,85.038000,24.98,60.515927,39.548387,4.258065,18.102419,...,46.0,49.614974,25.930971,73.163238,149.526600,149.526600,28.883582,14.405797,5.027132,21.608696
18,2018,9,263.583333,14504.394167,56.056500,22.45,41.117681,29.716667,4.000000,11.594167,...,40.0,55.027736,26.537770,57.785992,79.073956,81.511182,8.385269,27.050000,7.665957,38.075000
19,2018,10,160.616129,6582.412290,62.737500,26.95,49.842659,9.461290,2.364516,6.911828,...,46.0,40.982262,29.659667,54.198274,74.108998,84.050000,9.420299,4.340580,5.169767,4.130435
20,2018,11,166.143333,7557.278733,61.872000,27.09,49.418447,12.350000,4.850000,7.412222,...,44.0,45.486500,32.736611,56.113564,80.499836,89.980000,9.119091,5.537879,5.481855,5.681818
21,2018,12,87.800000,2774.393806,74.686000,25.36,51.536626,6.316129,2.387097,3.854409,...,42.0,31.599018,29.876810,48.208862,NaN,NaN,6.888547,0.000000,1.043673,0.000000
22,2019,1,0.000000,0.000000,72.231000,25.05,53.166769,0.000000,0.000000,0.000000,...,46.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
23,2019,2,0.000000,0.000000,146.133000,25.19,74.753366,0.000000,0.000000,0.000000,...,40.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
24,2019,3,73.258065,1614.241935,142.779000,21.90,48.493360,7.000000,1.000000,3.116935,...,42.0,22.035007,22.034972,22.035484,NaN,NaN,5.910615,0.000000,0.632653,0.000000
25,2019,4,270.200000,12680.028333,69.072500,23.94,49.169908,24.000000,2.966667,12.232500,...,44.0,46.928306,26.931325,61.177689,88.436228,96.105730,14.133333,12.212121,8.060484,14.477273
26,2019,5,203.967742,11445.019355,70.848000,29.78,56.248788,22.000000,1.451613,8.600806,...,46.0,56.111909,33.406322,68.935631,94.823186,99.129236,9.868657,10.188406,6.635659,13.086957
27,2019,6,804.070000,34563.937367,113.952000,33.99,78.721544,77.876667,11.363333,35.956611,...,40.0,42.986229,42.963204,43.298909,NaN,NaN,63.647592,0.000000,7.040426,0.000000
28,2019,7,661.774194,30721.917742,132.950000,45.75,100.109067,64.032258,8.870968,28.912634,...,46.0,46.423566,46.407757,46.633763,NaN,NaN,56.955224,0.000000,5.562016,0.000000
29,2019,8,315.496774,21821.900452,132.950000,50.17,101.660435,20.000000,4.329032,13.622312,...,44.0,69.166794,55.979097,94.942260,102.408616,NaN,19.014577,4.106061,11.715294,0.000000
30,2019,9,1416.750000,66401.982500,96.331000,34.94,72.716331,113.333333,19.616667,61.144722,...,42.0,46.869231,43.330566,64.188261,80.374256,149.150000,103.478261,6.936508,26.674370,0.404762
31,2019,10,382.580645,20590.225806,77.485500,31.94,63.408083,20.000000,5.161290,16.747312,...,46.0,53.819309,39.596657,71.936851,75.861304,NaN,20.000000,6.666667,18.217054,0.000000
32,2019,11,645.333333,37093.766667,105.401000,26.93,72.879756,33.333333,9.333333,28.027778,...,42.0,57.480010,40.373007,79.744368,84.774722,NaN,32.662722,11.428571,31.020408,0.000000
33,2019,12,1684.393548,81507.097032,124.212500,36.01,88.562083,132.580645,29.667742,72.902527,...,44.0,48.389580,44.695847,65.354480,63.069196,46.780000,120.944571,16.140909,33.630242,10.909091
34,2020,1,295.038710,17935.498774,120.032917,45.88,92.984578,19.619355,4.967742,13.148118,...,46.0,60.790324,52.109608,81.232427,77.007323,45.880000,18.740896,4.460870,9.613178,1.739130
35,2020,2,292.068966,20610.310345,125.394000,50.50,89.395322,17.241379,4.482759,12.727011,...,40.0,70.566588,57.439843,93.364439,99.100000,NaN,16.261261,4.166667,11.936170,0.000000
36,2020,3,237.819355,13665.444839,124.307500,45.43,92.459290,18.058065,3.593548,10.485430,...,44.0,57.461449,50.026465,83.305370,96.340981,NaN,16.490286,1.790909,5.978226,0.000000
37,2020,4,378.333333,18640.220667,113.201000,27.50,65.262672,20.000000,6.890000,16.433028,...,44.0,49.269306,39.873552,61.981941,61.983189,54.029167,19.651515,7.916667,17.045565,2.618182
38,2020,5,690.806452,23773.016645,81.124500,22.80,49.310134,42.222581,13.283871,29.929247,...,42.0,34.413426,25.192350,48.004084,59.172029,66.982079,38.315642,16.677778,24.953061,12.709524
39,2020,6,718.780000,26378.207733,90.527500,24.98,63.285969,45.993333,10.046667,31.321389,...,44.0,36.698583,28.867102,52.476215,57.113559,NaN,44.019394,8.939394,25.995968,0.000000
40,2020,7,282.332258,10886.519613,113.123500,23.93,74.436288,21.461290,3.029032,12.040081,...,46.0,38.559248,27.955613,62.836271,71.669048,NaN,18.342687,3.043478,9.292636,0.000000
41,2020,8,474.683871,18508.026387,74.608500,23.93,56.828634,33.277419,6.716129,20.912608,...,42.0,38.990215,28.258964,59.154116,64.372381,NaN,27.024860,6.666667,18.858367,0.000000
42,2020,9,176.830000,8435.032500,81.640000,24.91,59.356908,12.390000,1.693333,7.727889,...,44.0,47.701366,33.055384,62.527081,65.483333,NaN,8.159697,3.636364,9.565323,0.000000
43,2020,10,242.258065,12077.377419,69.684000,26.92,54.332591,16.774194,2.580645,10.607527,...,44.0,49.853356,35.782888,63.106829,65.298824,NaN,10.699708,5.151515,13.725490,0.000000
44,2020,11,307.740000,21775.350933,129.481000,29.92,82.489147,20.953333,3.000000,13.393083,...,42.0,70.758923,49.546598,86.760039,89.160597,NaN,11.597101,7.706349,19.939916,0.000000
45,2020,12,271.419355,17634.396129,129.481000,40.02,88.907833,19.354839,4.516129,11.979140,...,46.0,64.971034,49.260023,87.065326,86.042286,40.020000,14.427463,5.072464,12.289922,1.304348
46,2021,1,468.483871,25689.749935,66.036000,39.92,57.443710,30.645161,5.477419,20.525753,...,42.0,54.835933,48.879195,59.885897,59.520328,39.920000,18.441341,11.596825,29.265306,0.485714
47,2021,2,249.650000,13940.885643,112.268500,46.98,76.088902,18.614286,3.282143,10.827262,...,40.0,55.841721,50.088471,72.442947,79.013985,NaN,16.346875,2.258333,7.121491,0.000000
48,2021,3,267.780645,13736.012903,99.404500,45.07,76.915449,20.000000,3.309677,11.794919,...,46.0,51.295764,47.723604,61.012336,65.333526,NaN,18.286567,2.507246,7.760465,0.000000
49,2021,4,429.833333,19133.326667,117.679000,25.57,74.776422,33.166667,6.333333,18.594444,...,44.0,44.513362,38.480137,53.194520,49.664909,27.322000,22.121212,8.333333,19.939516,2.272727
50,2021,5,280.806452,10340.687097,114.039000,32.58,78.124984,25.645161,4.677419,12.264785,...,42.0,36.824963,36.754813,37.646277,NaN,NaN,22.402235,0.000000,2.795918,0.000000
51,2021,6,226.666667,11372.233333,123.067500,36.07,96.548872,24.000000,2.666667,9.938889,...,44.0,50.171618,49.988846,52.208214,NaN,NaN,18.909091,0.000000,2.258065,0.000000
52,2021,7,275.483871,15834.819355,129.983000,54.94,102.455495,25.161290,3.870968,11.763441,...,44.0,57.480023,57.497431,57.211538,NaN,NaN,23.381924,0.000000,2.039216,0.000000
53,2021,8,259.019355,14629.058839,129.485500,56.04,101.153339,24.593548,3.870968,11.424086,...,44.0,56.478632,56.536645,55.677832,NaN,NaN,21.392000,0.000000,2.187097,0.000000
54,2021,9,224.026667,10054.905067,117.858000,42.94,90.372178,23.146667,2.746667,9.677111,...,44.0,44.882626,44.949045,44.106163,NaN,NaN,18.761212,0.000000,2.135484,0.000000
55,2021,10,246.451613,11613.400000,111.364000,41.05,88.770911,21.935484,3.870968,10.618280,...,42.0,47.122435,47.055889,48.211364,NaN,NaN,20.111732,0.000000,1.795918,0.000000
56,2021,11,339.000000,14775.803333,111.364000,40.08,89.540133,33.666667,4.333333,14.761111,...,44.0,43.586441,43.575860,43.719333,NaN,NaN,28.545455,0.000000,3.024194,0.000000
57,2021,12,290.967742,13653.012903,117.450000,44.97,92.179274,27.548387,4.645161,12.611828,...,46.0,46.922772,46.890809,47.268168,NaN,NaN,24.644776,0.000000,2.961240,0.000000
58,2022,1,417.612903,13712.411613,114.766000,25.58,78.846914,38.580645,6.516129,18.218280,...,42.0,32.835220,32.710229,34.374979,NaN,NaN,33.446927,0.000000,3.967347,0.000000
59,2022,2,238.333333,7135.700000,107.338000,29.94,79.584000,22.000000,3.666667,10.450000,...,8.0,29.940000,29.940000,29.940000,NaN,NaN,19.449275,0.000000,1.872340,0.000000

In [68]:
if (pref=='dam'):
    monthly['evening_days']=daily.loc[daily['evening_hour_count']>0].groupby(['year','month']).count().reset_index(['month','year'])['volume']
    monthly['morning_days']=daily.loc[daily['morning_hour_count']>0].groupby(['year','month']).count().reset_index(['month','year'])['volume']
    monthly['days']=daily.groupby(['year','month']).count().reset_index(['month','year'])['volume']

monthly

,year,month,volume_mean,value_mean,price_max,price_min,price_mean,power_max,power_min,power_mean,...,evening_hour_count,price_weight_mean,off_price_weight_mean,standard_price_weight_mean,morning_price_weight_mean,evening_price_weight_mean,off_power,morning_power,standard_power,evening_power
0,2017,3,587.105263,18165.002632,65.852500,29.00,49.938662,50.000000,9.473684,25.076754,...,30.0,30.939942,27.459177,34.148967,64.340852,86.158317,41.512195,7.822222,12.750000,6.733333
1,2017,4,1148.500000,38363.365000,44.465833,23.40,34.944417,64.900000,37.000000,50.404167,...,4.0,33.403017,24.330980,41.851838,76.297844,87.970000,59.745455,44.533333,30.874074,51.800000
2,2017,5,949.871429,42241.205667,57.075833,23.54,42.601155,61.290476,30.352381,40.792698,...,30.0,44.470446,26.864611,47.257466,79.193597,88.723370,41.300000,50.655556,34.235088,60.633333
3,2017,6,477.653846,23265.706154,71.232500,29.95,58.039212,28.461538,10.423077,20.528205,...,40.0,48.708299,33.990683,61.625498,86.514416,115.321589,24.819788,11.700000,19.868778,7.550000
4,2017,7,460.096774,20449.032097,70.355000,25.05,52.809522,22.838710,11.580645,20.202016,...,42.0,44.445067,32.064852,59.895533,79.061769,110.973696,24.547486,10.317460,18.755102,5.476190
5,2017,8,455.000000,22275.962903,64.280500,28.61,52.141602,23.419355,14.354839,19.951882,...,46.0,48.958160,32.666806,57.921955,82.467739,99.018571,21.492537,16.405797,19.771318,14.608696
6,2017,9,434.916667,19724.003333,63.146000,26.93,50.934131,21.000000,12.583333,18.947917,...,42.0,45.351224,31.534111,57.501670,75.761157,94.614187,21.301775,12.619048,19.091837,8.928571
7,2017,10,629.367742,29708.751226,60.922500,26.92,48.947333,29.032258,22.554839,27.563871,...,44.0,47.204121,31.441835,58.422616,76.447836,88.679545,28.891429,22.969697,28.235484,20.000000
8,2017,11,657.756667,28031.525633,59.438500,26.14,48.352639,38.596667,22.306667,28.336250,...,44.0,42.616863,28.747793,55.714666,76.915099,85.168890,35.936970,22.227273,21.691532,23.340909
9,2017,12,621.906452,28655.456194,64.220000,26.61,49.656339,32.809677,20.435484,27.004651,...,42.0,46.076795,31.036576,59.088798,78.054909,89.241905,30.109497,21.920635,25.628163,20.000000
10,2018,1,168.977419,7474.377129,68.281500,30.06,53.431710,10.716129,5.093548,7.429758,...,46.0,44.232994,31.997928,56.466389,77.848644,84.984716,9.789851,5.513043,5.025969,6.121739
11,2018,2,154.961905,5640.024571,68.281500,30.80,55.031948,22.600000,0.000000,6.730635,...,30.0,36.396201,34.262130,43.992136,67.980000,NaN,10.706612,0.455556,3.758480,0.000000
12,2018,3,256.451613,8647.548387,67.863500,29.27,51.125957,19.354839,4.838710,10.846774,...,44.0,33.720000,33.720000,33.720000,NaN,NaN,22.303207,0.000000,1.176471,0.000000
13,2018,4,133.666667,3629.883333,61.533500,19.45,45.991792,11.666667,2.166667,5.773611,...,42.0,27.156234,27.124704,27.335195,27.730000,27.730000,10.289855,0.714286,1.617647,0.714286
14,2018,5,62.096774,1597.129032,68.043000,25.72,46.683417,5.645161,0.806452,2.721774,...,46.0,25.720000,25.720000,25.720000,NaN,NaN,5.373134,0.000000,0.484496,0.000000
15,2018,6,65.850000,1815.859167,87.600500,24.90,56.053961,6.316667,0.866667,2.810972,...,42.0,27.575690,26.065929,30.267951,117.910000,117.910000,5.349112,0.206349,0.577551,0.309524
16,2018,7,212.754839,11976.107452,87.533500,24.90,60.417253,21.348387,2.093548,9.526747,...,44.0,56.290647,26.406672,83.302821,152.138517,152.138517,13.281143,9.500000,2.794355,14.250000
17,2018,8,418.096774,20743.860645,85.038000,24.98,60.515927,39.548387,4.258065,18.102419,...,46.0,49.614974,25.930971,73.163238,149.526600,149.526600,28.883582,14.405797,5.027132,21.608696
18,2018,9,263.583333,14504.394167,56.056500,22.45,41.117681,29.716667,4.000000,11.594167,...,40.0,55.027736,26.537770,57.785992,79.073956,81.511182,8.385269,27.050000,7.665957,38.075000
19,2018,10,160.616129,6582.412290,62.737500,26.95,49.842659,9.461290,2.364516,6.911828,...,46.0,40.982262,29.659667,54.198274,74.108998,84.050000,9.420299,4.340580,5.169767,4.130435
20,2018,11,166.143333,7557.278733,61.872000,27.09,49.418447,12.350000,4.850000,7.412222,...,44.0,45.486500,32.736611,56.113564,80.499836,89.980000,9.119091,5.537879,5.481855,5.681818
21,2018,12,87.800000,2774.393806,74.686000,25.36,51.536626,6.316129,2.387097,3.854409,...,42.0,31.599018,29.876810,48.208862,NaN,NaN,6.888547,0.000000,1.043673,0.000000
22,2019,1,0.000000,0.000000,72.231000,25.05,53.166769,0.000000,0.000000,0.000000,...,46.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
23,2019,2,0.000000,0.000000,146.133000,25.19,74.753366,0.000000,0.000000,0.000000,...,40.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
24,2019,3,73.258065,1614.241935,142.779000,21.90,48.493360,7.000000,1.000000,3.116935,...,42.0,22.035007,22.034972,22.035484,NaN,NaN,5.910615,0.000000,0.632653,0.000000
25,2019,4,270.200000,12680.028333,69.072500,23.94,49.169908,24.000000,2.966667,12.232500,...,44.0,46.928306,26.931325,61.177689,88.436228,96.105730,14.133333,12.212121,8.060484,14.477273
26,2019,5,203.967742,11445.019355,70.848000,29.78,56.248788,22.000000,1.451613,8.600806,...,46.0,56.111909,33.406322,68.935631,94.823186,99.129236,9.868657,10.188406,6.635659,13.086957
27,2019,6,804.070000,34563.937367,113.952000,33.99,78.721544,77.876667,11.363333,35.956611,...,40.0,42.986229,42.963204,43.298909,NaN,NaN,63.647592,0.000000,7.040426,0.000000
28,2019,7,661.774194,30721.917742,132.950000,45.75,100.109067,64.032258,8.870968,28.912634,...,46.0,46.423566,46.407757,46.633763,NaN,NaN,56.955224,0.000000,5.562016,0.000000
29,2019,8,315.496774,21821.900452,132.950000,50.17,101.660435,20.000000,4.329032,13.622312,...,44.0,69.166794,55.979097,94.942260,102.408616,NaN,19.014577,4.106061,11.715294,0.000000
30,2019,9,1416.750000,66401.982500,96.331000,34.94,72.716331,113.333333,19.616667,61.144722,...,42.0,46.869231,43.330566,64.188261,80.374256,149.150000,103.478261,6.936508,26.674370,0.404762
31,2019,10,382.580645,20590.225806,77.485500,31.94,63.408083,20.000000,5.161290,16.747312,...,46.0,53.819309,39.596657,71.936851,75.861304,NaN,20.000000,6.666667,18.217054,0.000000
32,2019,11,645.333333,37093.766667,105.401000,26.93,72.879756,33.333333,9.333333,28.027778,...,42.0,57.480010,40.373007,79.744368,84.774722,NaN,32.662722,11.428571,31.020408,0.000000
33,2019,12,1684.393548,81507.097032,124.212500,36.01,88.562083,132.580645,29.667742,72.902527,...,44.0,48.389580,44.695847,65.354480,63.069196,46.780000,120.944571,16.140909,33.630242,10.909091
34,2020,1,295.038710,17935.498774,120.032917,45.88,92.984578,19.619355,4.967742,13.148118,...,46.0,60.790324,52.109608,81.232427,77.007323,45.880000,18.740896,4.460870,9.613178,1.739130
35,2020,2,292.068966,20610.310345,125.394000,50.50,89.395322,17.241379,4.482759,12.727011,...,40.0,70.566588,57.439843,93.364439,99.100000,NaN,16.261261,4.166667,11.936170,0.000000
36,2020,3,237.819355,13665.444839,124.307500,45.43,92.459290,18.058065,3.593548,10.485430,...,44.0,57.461449,50.026465,83.305370,96.340981,NaN,16.490286,1.790909,5.978226,0.000000
37,2020,4,378.333333,18640.220667,113.201000,27.50,65.262672,20.000000,6.890000,16.433028,...,44.0,49.269306,39.873552,61.981941,61.983189,54.029167,19.651515,7.916667,17.045565,2.618182
38,2020,5,690.806452,23773.016645,81.124500,22.80,49.310134,42.222581,13.283871,29.929247,...,42.0,34.413426,25.192350,48.004084,59.172029,66.982079,38.315642,16.677778,24.953061,12.709524
39,2020,6,718.780000,26378.207733,90.527500,24.98,63.285969,45.993333,10.046667,31.321389,...,44.0,36.698583,28.867102,52.476215,57.113559,NaN,44.019394,8.939394,25.995968,0.000000
40,2020,7,282.332258,10886.519613,113.123500,23.93,74.436288,21.461290,3.029032,12.040081,...,46.0,38.559248,27.955613,62.836271,71.669048,NaN,18.342687,3.043478,9.292636,0.000000
41,2020,8,474.683871,18508.026387,74.608500,23.93,56.828634,33.277419,6.716129,20.912608,...,42.0,38.990215,28.258964,59.154116,64.372381,NaN,27.024860,6.666667,18.858367,0.000000
42,2020,9,176.830000,8435.032500,81.640000,24.91,59.356908,12.390000,1.693333,7.727889,...,44.0,47.701366,33.055384,62.527081,65.483333,NaN,8.159697,3.636364,9.565323,0.000000
43,2020,10,242.258065,12077.377419,69.684000,26.92,54.332591,16.774194,2.580645,10.607527,...,44.0,49.853356,35.782888,63.106829,65.298824,NaN,10.699708,5.151515,13.725490,0.000000
44,2020,11,307.740000,21775.350933,129.481000,29.92,82.489147,20.953333,3.000000,13.393083,...,42.0,70.758923,49.546598,86.760039,89.160597,NaN,11.597101,7.706349,19.939916,0.000000
45,2020,12,271.419355,17634.396129,129.481000,40.02,88.907833,19.354839,4.516129,11.979140,...,46.0,64.971034,49.260023,87.065326,86.042286,40.020000,14.427463,5.072464,12.289922,1.304348
46,2021,1,468.483871,25689.749935,66.036000,39.92,57.443710,30.645161,5.477419,20.525753,...,42.0,54.835933,48.879195,59.885897,59.520328,39.920000,18.441341,11.596825,29.265306,0.485714
47,2021,2,249.650000,13940.885643,112.268500,46.98,76.088902,18.614286,3.282143,10.827262,...,40.0,55.841721,50.088471,72.442947,79.013985,NaN,16.346875,2.258333,7.121491,0.000000
48,2021,3,267.780645,13736.012903,99.404500,45.07,76.915449,20.000000,3.309677,11.794919,...,46.0,51.295764,47.723604,61.012336,65.333526,NaN,18.286567,2.507246,7.760465,0.000000
49,2021,4,429.833333,19133.326667,117.679000,25.57,74.776422,33.166667,6.333333,18.594444,...,44.0,44.513362,38.480137,53.194520,49.664909,27.322000,22.121212,8.333333,19.939516,2.272727
50,2021,5,280.806452,10340.687097,114.039000,32.58,78.124984,25.645161,4.677419,12.264785,...,42.0,36.824963,36.754813,37.646277,NaN,NaN,22.402235,0.000000,2.795918,0.000000
51,2021,6,226.666667,11372.233333,123.067500,36.07,96.548872,24.000000,2.666667,9.938889,...,44.0,50.171618,49.988846,52.208214,NaN,NaN,18.909091,0.000000,2.258065,0.000000
52,2021,7,275.483871,15834.819355,129.983000,54.94,102.455495,25.161290,3.870968,11.763441,...,44.0,57.480023,57.497431,57.211538,NaN,NaN,23.381924,0.000000,2.039216,0.000000
53,2021,8,259.019355,14629.058839,129.485500,56.04,101.153339,24.593548,3.870968,11.424086,...,44.0,56.478632,56.536645,55.677832,NaN,NaN,21.392000,0.000000,2.187097,0.000000
54,2021,9,224.026667,10054.905067,117.858000,42.94,90.372178,23.146667,2.746667,9.677111,...,44.0,44.882626,44.949045,44.106163,NaN,NaN,18.761212,0.000000,2.135484,0.000000
55,2021,10,246.451613,11613.400000,111.364000,41.05,88.770911,21.935484,3.870968,10.618280,...,42.0,47.122435,47.055889,48.211364,NaN,NaN,20.111732,0.000000,1.795918,0.000000
56,2021,11,339.000000,14775.803333,111.364000,40.08,89.540133,33.666667,4.333333,14.761111,...,44.0,43.586441,43.575860,43.719333,NaN,NaN,28.545455,0.000000,3.024194,0.000000
57,2021,12,290.967742,13653.012903,117.450000,44.97,92.179274,27.548387,4.645161,12.611828,...,46.0,46.922772,46.890809,47.268168,NaN,NaN,24.644776,0.000000,2.961240,0.000000
58,2022,1,417.612903,13712.411613,114.766000,25.58,78.846914,38.580645,6.516129,18.218280,...,42.0,32.835220,32.710229,34.374979,NaN,NaN,33.446927,0.000000,3.967347,0.000000
59,2022,2,238.333333,7135.700000,107.338000,29.94,79.584000,22.000000,3.666667,10.450000,...,8.0,29.940000,29.940000,29.940000,NaN,NaN,19.449275,0.000000,1.872340,0.000000

In [69]:
monthly=monthly.set_index(['year','month'])

In [70]:
monthly['off_price_diff']=monthly['off_price_mean']-monthly['off_price_mean'].shift(1)
monthly['morning_price_diff']=monthly['morning_price_mean']-monthly['morning_price_mean'].shift(1)
monthly['standard_price_diff']=monthly['standard_price_mean']-monthly['standard_price_mean'].shift(1)
monthly['evening_price_diff']=monthly['evening_price_mean']-monthly['evening_price_mean'].shift(1)

monthly['off_price_log_diff']=np.log10(monthly['off_price_mean'])-np.log10(monthly['off_price_mean']).shift(1)
monthly['morning_price_log_diff']=np.log10(monthly['morning_price_mean'])-np.log10(monthly['morning_price_mean']).shift(1)
monthly['standard_price_log_diff']=np.log10(monthly['standard_price_mean'])-np.log10(monthly['standard_price_mean']).shift(1)
monthly['evening_price_log_diff']=np.log10(monthly['evening_price_mean'])-np.log10(monthly['evening_price_mean']).shift(1)

In [71]:
monthly.to_csv(out + pref + '_monthly.csv')

In [72]:
monthly_filt=monthly #.loc[monthly['year']<2020]
daily_filt=daily.reset_index() #.loc[daily.reset_index()['year']<2020]

In [73]:
calmonthly=daily_filt.groupby(['month']).mean().reset_index()
calmonthly=calmonthly.drop(['year','day','volume','standard_volume','off_volume','morning_volume','evening_volume', 'off_hour_count', 'morning_hour_count', 'standard_hour_count','evening_hour_count'],1)
calmonthly.rename(columns={'value':'value_mean','volume':'volume_mean','price_weight_av': 'price_weight_mean'}, inplace=True)

calmonthly[['price_median', 'off_price_median','standard_price_median', 'morning_price_median', 'evening_price_median']]=daily_filt.groupby(['month']).median().reset_index()[['price_mean','off_price_mean','standard_price_mean', 'morning_price_mean', 'evening_price_mean']]
calmonthly[['price_stdev', 'off_price_stdev','standard_price_stdev', 'morning_price_stdev', 'evening_price_stdev']]=daily_filt.groupby(['month']).std().reset_index()[['price_mean','off_price_mean','standard_price_mean', 'morning_price_mean', 'evening_price_mean']]

calmonthly[['volume', 'off_volume','standard_volume', 'morning_volume', 'evening_volume']]=monthly_filt.groupby(['month']).mean().reset_index()[['volume','off_volume','standard_volume', 'morning_volume', 'evening_volume']]
calmonthly[['value', 'off_value','standard_value', 'morning_value', 'evening_value']]=monthly_filt.groupby(['month']).mean().reset_index()[['value','off_value','standard_value', 'morning_value', 'evening_value']]
calmonthly[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]=monthly_filt.groupby(['month']).mean().reset_index()[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]
calmonthly[['off_power','standard_power', 'morning_power', 'evening_power']]=monthly_filt.groupby(['month']).mean().reset_index()[['off_power','standard_power', 'morning_power', 'evening_power']]

calmonthly

,month,value_mean,price_weight_mean,price_max,price_min,price_mean,power_max,power_min,power_mean,price_morning_max,...,evening_volume,value,off_hour_count,standard_hour_count,morning_hour_count,evening_hour_count,off_power,standard_power,morning_power,evening_power
0,1,12962.407490,47.726034,111.316903,37.184000,67.174736,19.912258,4.410968,11.864382,111.316903,...,76.40,401834.6322,344.2,252.8,66.6,44.4,16.083803,9.574360,4.314148,1.669317
1,2,10261.593875,60.350376,117.119732,39.919375,75.439489,14.533929,2.177679,7.824018,117.119732,...,0.00,229859.7028,256.8,181.8,47.4,31.6,12.552805,4.937696,1.376111,0.000000
2,3,10578.291888,43.741197,109.787832,36.123916,64.948604,20.606993,4.020979,11.188980,109.787832,...,40.40,302539.1480,318.2,234.0,61.8,41.2,20.900574,5.659563,2.424076,1.346667
3,4,14322.235726,39.787001,99.564194,31.688468,58.030657,23.585484,5.634677,14.456647,99.564194,...,217.88,355191.4460,278.0,201.8,53.4,35.6,25.188274,15.507457,14.741948,14.376494
4,5,16199.287828,37.251299,96.938414,29.579103,55.420767,29.296552,8.718621,17.349391,96.938414,...,590.96,469779.3470,325.6,235.4,61.8,41.2,23.451934,13.820844,15.504348,17.285963
5,6,19375.448548,43.268905,132.180068,34.696849,70.872123,36.750685,6.981507,20.099789,132.180068,...,63.00,565763.0976,326.8,239.4,63.0,42.0,31.348995,11.148157,4.169149,1.571905
6,7,17973.679252,46.633799,140.012387,37.616774,78.045525,30.968387,5.889032,16.488984,140.012387,...,171.40,557184.0568,344.2,252.8,66.6,44.4,27.301693,7.688665,4.572188,3.945238
7,8,19595.761845,52.794395,137.784065,37.434065,74.459988,28.167742,6.705806,16.802661,137.784065,...,333.20,607468.6172,344.2,252.8,66.6,44.4,23.561511,11.511842,8.316864,7.243478
8,9,23824.063513,48.985359,108.100267,33.143133,62.899446,39.917333,8.128000,21.818361,108.100267,...,383.00,714721.9054,339.2,242.8,63.6,42.4,32.017243,13.026594,10.048384,9.481667
9,10,16114.433348,47.814364,93.753806,33.464452,61.060316,19.440645,7.306452,14.489763,93.753806,...,214.00,499547.4338,344.2,252.8,66.6,44.4,17.824633,13.428743,7.825692,4.826087
10,11,21846.745060,53.014485,118.911333,34.161400,68.536024,27.780000,8.764667,18.386089,118.911333,...,255.40,655402.3518,334.6,245.4,64.8,43.2,23.572268,16.231581,9.380014,5.804545
11,12,28844.871213,51.780525,126.787806,38.137871,74.168431,43.721935,12.330323,25.670511,126.787806,...,276.00,894191.0076,347.2,250.8,66.0,44.0,39.402971,15.110648,8.626802,6.442688

In [74]:
calmonthly.to_csv(out + pref + '_calmonthly.csv')

In [75]:
calmonthly_hours=hourly.groupby(['month','hour']).mean()
calmonthly_hours=calmonthly_hours.drop(['year','day','day_of_week'],1)
calmonthly_hours

                 price     volume        value
month hour
1     0      37.218091  17.035455   656.716500
      1      37.218091  17.035455   656.716500
      2      37.218091  17.035455   656.716500
      3      37.218091  17.035455   656.716500
      4      37.184000  17.017419   657.171090
...                ...        ...          ...
12    19    126.787806  12.840000   725.605355
      20     71.233355  21.669032  1190.360852
      21     71.233355  21.669032  1190.360852
      22     38.137871  42.378710  1755.612090
      23     38.137871  42.378710  1755.612090

[288 rows x 3 columns]

In [76]:
calmonthly_hours.to_csv(out + pref + '_calmonthly_hours.csv')

In [77]:
from statsmodels.tsa.stattools import pacf

In [78]:
pacfs=pd.DataFrame(data={'standard': pacf(monthly.reset_index()['standard_price_mean'], nlags=14)})
pacfs['evening']= pacf(monthly.reset_index()['evening_price_mean'], nlags=14)
pacfs['morning']= pacf(monthly.reset_index()['morning_price_mean'], nlags=14)
pacfs['off']= pacf(monthly.reset_index()['off_price_mean'], nlags=14)
pacfs

    standard   evening   morning       off
0   1.000000  1.000000  1.000000  1.000000
1   0.726893  0.719048  0.730482  0.825947
2  -0.036796 -0.174392 -0.159377 -0.282579
3   0.155861  0.300957  0.285549  0.112552
4   0.239361  0.203196  0.236393  0.200566
5   0.040033  0.186940  0.147484  0.021267
6   0.100729  0.109491  0.153116  0.001463
7  -0.062432 -0.172870 -0.200100 -0.117453
8  -0.139265  0.033238  0.006624  0.042629
9  -0.285533 -0.373112 -0.392633 -0.254326
10  0.011106  0.030330 -0.020242  0.088176
11  0.208723  0.231500  0.240657  0.162406
12  0.023183 -0.008002 -0.038185 -0.271296
13 -0.108488 -0.099926 -0.004019 -0.098793
14 -0.106459  0.041135 -0.024179  0.154758

In [79]:
pacfs.to_csv(out + pref + '_pacfs.csv')