In [89]:
import numpy as np
import pandas as pd
import datetime
import math
from os import listdir
from os.path import isfile, join
import json

In [109]:
out='../output/'
inp='../input/monthly/'
pref='fpw'

In [110]:
dat=pd.DataFrame(columns=[0,1,2])
onlyfiles = [f for f in listdir(inp) if isfile(join(inp, f))]
for f in onlyfiles:
    if (f.split('_')[0]==pref):
        #print(f)
        with open(join(inp, f), "r") as read_file:
            data = pd.DataFrame(json.load(read_file))
            dat=pd.concat([dat,data])

dat

,0,1,2
0,Date:Time,Price(USD/MWh),Turnover(MWh)
1,Min,,
2,Max,,
3,Average,,
4,Total,,
...,...,...,...
744,(2021/05/31) 23-24,36.07,20
745,Min,32.58,0
746,Max,238.1,40
747,Average,76.052419354838709677419354839,12.936827956989247311827956989
748,Total,56583.00,9625

In [111]:
dat.drop(dat[dat[0] == 'Date:Time'].index, inplace = True)
dat.drop(dat[dat[0] == 'Min'].index, inplace = True)
dat.drop(dat[dat[0] == 'Max'].index, inplace = True)
dat.drop(dat[dat[0] == 'Average'].index, inplace = True)
dat.drop(dat[dat[0] == 'Total'].index, inplace = True)
dat.columns=['datehour','price','volume']
dat['price']=dat['price'].astype(float)
dat['volume']=dat['volume'].astype(float)
dat

               datehour   price  volume
5    (2017/03/06) 04-05   29.00    50.0
6    (2017/03/06) 05-06   29.00    50.0
7    (2017/03/06) 06-07   65.00     0.0
8    (2017/03/06) 07-08   97.21     0.0
9    (2017/03/06) 08-09   97.21     0.0
..                  ...     ...     ...
740  (2021/05/31) 19-20  238.10     0.0
741  (2021/05/31) 20-21   86.00     0.0
742  (2021/05/31) 21-22   86.00     0.0
743  (2021/05/31) 22-23   36.07    20.0
744  (2021/05/31) 23-24   36.07    20.0

[34424 rows x 3 columns]

In [112]:
dat['date']=pd.to_datetime(dat.datehour.str.slice(1,11),format="%Y/%m/%d")
dat['hour']=dat.datehour.str.slice(13,15).astype(int)
dat

               datehour   price  volume       date  hour
5    (2017/03/06) 04-05   29.00    50.0 2017-03-06     4
6    (2017/03/06) 05-06   29.00    50.0 2017-03-06     5
7    (2017/03/06) 06-07   65.00     0.0 2017-03-06     6
8    (2017/03/06) 07-08   97.21     0.0 2017-03-06     7
9    (2017/03/06) 08-09   97.21     0.0 2017-03-06     8
..                  ...     ...     ...        ...   ...
740  (2021/05/31) 19-20  238.10     0.0 2021-05-31    19
741  (2021/05/31) 20-21   86.00     0.0 2021-05-31    20
742  (2021/05/31) 21-22   86.00     0.0 2021-05-31    21
743  (2021/05/31) 22-23   36.07    20.0 2021-05-31    22
744  (2021/05/31) 23-24   36.07    20.0 2021-05-31    23

[34424 rows x 5 columns]

In [113]:
dat=dat.drop(['datehour'],1)
dat

      price  volume       date  hour
5     29.00    50.0 2017-03-06     4
6     29.00    50.0 2017-03-06     5
7     65.00     0.0 2017-03-06     6
8     97.21     0.0 2017-03-06     7
9     97.21     0.0 2017-03-06     8
..      ...     ...        ...   ...
740  238.10     0.0 2021-05-31    19
741   86.00     0.0 2021-05-31    20
742   86.00     0.0 2021-05-31    21
743   36.07    20.0 2021-05-31    22
744   36.07    20.0 2021-05-31    23

[34424 rows x 4 columns]

In [114]:
hourly=dat.set_index(pd.DatetimeIndex(dat['date']))
hourly['year']=hourly.index.year
hourly['month']=hourly.index.month
hourly['day']=hourly.index.day
hourly['day_of_week']=hourly.index.dayofweek
hourly=hourly.drop(['date'],axis=1)
hourly

             price  volume  hour  year  month  day  day_of_week
date
2017-03-06   29.00    50.0     4  2017      3    6            0
2017-03-06   29.00    50.0     5  2017      3    6            0
2017-03-06   65.00     0.0     6  2017      3    6            0
2017-03-06   97.21     0.0     7  2017      3    6            0
2017-03-06   97.21     0.0     8  2017      3    6            0
...            ...     ...   ...   ...    ...  ...          ...
2021-05-31  238.10     0.0    19  2021      5   31            0
2021-05-31   86.00     0.0    20  2021      5   31            0
2021-05-31   86.00     0.0    21  2021      5   31            0
2021-05-31   36.07    20.0    22  2021      5   31            0
2021-05-31   36.07    20.0    23  2021      5   31            0

[34424 rows x 7 columns]

In [115]:
hourly['value']=hourly['price']*hourly['volume']
daily=hourly.groupby(['year','month','day']).sum().drop(['hour'],axis=1)
daily['price_weight_av']=daily['value']/daily['volume']
daily=daily.drop(['price'], axis=1)
daily['price_max']=hourly[['year','month','day','price']].groupby(['year','month','day']).max()
daily['price_min']=hourly[['year','month','day','price']].groupby(['year','month','day']).min()
daily['price_mean']=hourly[['year','month','day','price']].groupby(['year','month','day']).mean()

daily['power_max']=hourly[['year','month','day','volume']].groupby(['year','month','day']).max()
daily['power_min']=hourly[['year','month','day','volume']].groupby(['year','month','day']).min()
daily['power_mean']=hourly[['year','month','day','volume']].groupby(['year','month','day']).mean()

daily['price_morning_max']=hourly.loc[hourly['hour']<11][['year','month','day','price']].groupby(['year','month','day']).max()
daily['price_evening_max']=hourly.loc[hourly['hour']>=11][['year','month','day','price']].groupby(['year','month','day']).max()
daily['price_standard']=hourly.loc[(hourly['hour']>=12) & (hourly['hour']<=15)][['year','month','day','price']].groupby(['year','month','day']).mean()

daily

                volume  day_of_week    value  price_weight_av  price_max  \
year month day
2017 3     6     200.0            0   5800.0            29.00      97.21
           7     400.0           24  11600.0            29.00      97.21
           8     400.0           48  11600.0            29.00      97.21
           9     400.0           72  11600.0            29.00      97.21
           10    200.0           80   5800.0            29.00      97.21
...                ...          ...      ...              ...        ...
2021 5     27     80.0           60   3037.6            37.97     180.00
           28    160.0           96   6075.2            37.97     180.00
           29    260.0          100   9872.2            37.97      85.00
           30    400.0          120  15188.0            37.97      37.97
           31     80.0            0   2885.6            36.07     238.10

                price_min  price_mean  power_max  power_min  power_mean  \
year month day
2017 3     6        29.00   65.852500       50.0        0.0   10.000000
           7        29.00   59.710417       50.0        0.0   16.666667
           8        29.00   59.710417       50.0        0.0   16.666667
           9        29.00   59.710417       50.0        0.0   16.666667
           10       29.00   65.852500       50.0        0.0   10.000000
...                   ...         ...        ...        ...         ...
2021 5     27       37.97   99.344000       20.0        0.0    4.000000
           28       37.97   89.115000       20.0        0.0    6.666667
           29       37.97   54.430500       20.0        0.0   13.000000
           30       37.97   37.970000       20.0       20.0   20.000000
           31       36.07  114.039000       20.0        0.0    4.000000

                price_morning_max  price_evening_max  price_standard
year month day
2017 3     6                97.21              97.21           65.00
           7                97.21              97.21           65.00
           8                97.21              97.21           65.00
           9                97.21              97.21           65.00
           10               97.21              97.21           65.00
...                           ...                ...             ...
2021 5     27              180.00             180.00           85.00
           28              180.00             180.00           85.00
           29               85.00              85.00           37.97
           30               37.97              37.97           37.97
           31              238.10             238.10           86.00

[1494 rows x 13 columns]

In [116]:
hourly['cat']='off'

if (pref=='dam'):
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==6),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=7) & (hourly['hour']<=9),'cat']='morning'

    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=10) & (hourly['hour']<=16),'cat']='standard'

    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==17) & (hourly['month']>=6) & (hourly['month']<=8),'cat']='evening'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==17) & ((hourly['month']<=5) | (hourly['month']>=9)),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==18) & (hourly['month']<=3),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==18) & (hourly['month']>=4),'cat']='evening'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==19),'cat']='evening'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==20) & (hourly['month']<=3),'cat']='evening'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==20) & (hourly['month']>=4),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==21),'cat']='standard'

    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=7) & (hourly['hour']<=11),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==17) & (hourly['month']>=6) & (hourly['month']<=8),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==18) & (hourly['month']>=4),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==19),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==20) & (hourly['month']<=3),'cat']='standard'

if (pref=='fpm'):
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=6) & (hourly['hour']<=21),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=7) & (hourly['hour']<=11),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=18) & (hourly['hour']<=19),'cat']='standard'

if (pref=='fpw'):
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==5),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=6) & (hourly['hour']<=8),'cat']='morning'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=9) & (hourly['hour']<=17),'cat']='eve'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=7) & (hourly['hour']<=11),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=18) & (hourly['hour']<=19),'cat']='standard'
    
hourly

             price  volume  hour  year  month  day  day_of_week   value  cat
date
2017-03-06   29.00    50.0     4  2017      3    6            0  1450.0  off
2017-03-06   29.00    50.0     5  2017      3    6            0  1450.0  off
2017-03-06   65.00     0.0     6  2017      3    6            0     0.0  off
2017-03-06   97.21     0.0     7  2017      3    6            0     0.0  off
2017-03-06   97.21     0.0     8  2017      3    6            0     0.0  off
...            ...     ...   ...   ...    ...  ...          ...     ...  ...
2021-05-31  238.10     0.0    19  2021      5   31            0     0.0  off
2021-05-31   86.00     0.0    20  2021      5   31            0     0.0  off
2021-05-31   86.00     0.0    21  2021      5   31            0     0.0  off
2021-05-31   36.07    20.0    22  2021      5   31            0   721.4  off
2021-05-31   36.07    20.0    23  2021      5   31            0   721.4  off

[34424 rows x 9 columns]

In [117]:
daily['off_price_mean']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()
daily['standard_price_mean']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()
daily['morning_price_mean']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()
daily['evening_price_mean']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()

daily['off_hour_count']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()
daily['standard_hour_count']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()
daily['morning_hour_count']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()
daily['evening_hour_count']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()

daily['off_volume']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['standard_volume']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['morning_volume']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['evening_volume']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()

daily['off_value']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()
daily['standard_value']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()
daily['morning_value']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()
daily['evening_value']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()

daily

                volume  day_of_week    value  price_weight_av  price_max  \
year month day
2017 3     6     200.0            0   5800.0            29.00      97.21
           7     400.0           24  11600.0            29.00      97.21
           8     400.0           48  11600.0            29.00      97.21
           9     400.0           72  11600.0            29.00      97.21
           10    200.0           80   5800.0            29.00      97.21
...                ...          ...      ...              ...        ...
2021 5     27     80.0           60   3037.6            37.97     180.00
           28    160.0           96   6075.2            37.97     180.00
           29    260.0          100   9872.2            37.97      85.00
           30    400.0          120  15188.0            37.97      37.97
           31     80.0            0   2885.6            36.07     238.10

                price_min  price_mean  power_max  power_min  power_mean  ...  \
year month day                                                           ...
2017 3     6        29.00   65.852500       50.0        0.0   10.000000  ...
           7        29.00   59.710417       50.0        0.0   16.666667  ...
           8        29.00   59.710417       50.0        0.0   16.666667  ...
           9        29.00   59.710417       50.0        0.0   16.666667  ...
           10       29.00   65.852500       50.0        0.0   10.000000  ...
...                   ...         ...        ...        ...         ...  ...
2021 5     27       37.97   99.344000       20.0        0.0    4.000000  ...
           28       37.97   89.115000       20.0        0.0    6.666667  ...
           29       37.97   54.430500       20.0        0.0   13.000000  ...
           30       37.97   37.970000       20.0       20.0   20.000000  ...
           31       36.07  114.039000       20.0        0.0    4.000000  ...

                morning_hour_count  evening_hour_count  off_volume  \
year month day
2017 3     6                   NaN                 NaN       200.0
           7                   NaN                 NaN       400.0
           8                   NaN                 NaN       400.0
           9                   NaN                 NaN       400.0
           10                  NaN                 NaN       200.0
...                            ...                 ...         ...
2021 5     27                  NaN                 NaN        80.0
           28                  NaN                 NaN       160.0
           29                  NaN                 NaN       260.0
           30                  NaN                 NaN       400.0
           31                  NaN                 NaN        80.0

                standard_volume  morning_volume  evening_volume  off_value  \
year month day
2017 3     6                NaN             NaN             NaN     5800.0
           7                NaN             NaN             NaN    11600.0
           8                NaN             NaN             NaN    11600.0
           9                NaN             NaN             NaN    11600.0
           10               NaN             NaN             NaN     5800.0
...                         ...             ...             ...        ...
2021 5     27               NaN             NaN             NaN     3037.6
           28               NaN             NaN             NaN     6075.2
           29               NaN             NaN             NaN     9872.2
           30               NaN             NaN             NaN    15188.0
           31               NaN             NaN             NaN     2885.6

                standard_value  morning_value  evening_value
year month day
2017 3     6               NaN            NaN            NaN
           7               NaN            NaN            NaN
           8               NaN            NaN            NaN
           9               NaN            NaN            NaN
           10              NaN            NaN            NaN
...                        ...            ...            ...
2021 5     27              NaN            NaN            NaN
           28              NaN            NaN            NaN
           29              NaN            NaN            NaN
           30              NaN            NaN            NaN
           31              NaN            NaN            NaN

[1494 rows x 29 columns]

In [118]:
daily.to_csv(out + pref + '_daily.csv')

In [119]:
hourly.to_csv(out + pref + '_hourly.csv')

In [120]:
monthly=daily.groupby(['year','month']).mean().reset_index(['month','year'])
monthly=monthly.drop(['morning_volume','off_volume','standard_volume','evening_volume','price_weight_av'],1)
monthly.rename(columns={'value':'value_mean','volume':'volume_mean','off_hour_count':'off_hour_mean','standard_hour_count':'standard_hour_mean','morning_hour_count':'morning_hour_mean','evening_hour_count':'evening_hour_mean'}, inplace=True)
monthly[['price_max','standard_price_max','off_price_max','morning_price_max','evening_price_max']]=daily.groupby(['year','month']).max().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]
monthly[['price_min','standard_price_min','off_price_min','morning_price_min','evening_price_min']]=daily.groupby(['year','month']).min().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]

monthly[['volume','morning_volume','evening_volume','standard_volume','off_volume']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['volume','morning_volume','evening_volume','standard_volume','off_volume']]
monthly[['value','morning_value','evening_value','standard_value','off_value']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['value','morning_value','evening_value','standard_value','off_value']]

monthly[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]

monthly['price_weight_mean']=monthly['value'] / monthly['volume']
monthly['off_price_weight_mean']=monthly['off_value'] / monthly['off_volume']
monthly['standard_price_weight_mean']=monthly['standard_value'] / monthly['standard_volume']
monthly['morning_price_weight_mean']=monthly['morning_value'] / monthly['morning_volume']
monthly['evening_price_weight_mean']=monthly['evening_value'] / monthly['evening_volume']


monthly['off_power']=monthly['off_volume'] / monthly['off_hour_count']
monthly['morning_power']=monthly['morning_volume'] / monthly['morning_hour_count']
monthly['standard_power']=monthly['standard_volume'] / monthly['standard_hour_count']
monthly['evening_power']=monthly['evening_volume'] / monthly['evening_hour_count']

monthly

,year,month,volume_mean,day_of_week,value_mean,price_max,price_min,price_mean,power_max,power_min,...,evening_hour_count,price_weight_mean,off_price_weight_mean,standard_price_weight_mean,morning_price_weight_mean,evening_price_weight_mean,off_power,morning_power,standard_power,evening_power
0,2017,3,597.631579,64.842105,18470.265789,65.852500,29.00,49.938662,50.000000,9.473684,...,0.0,30.905773,30.905773,NaN,NaN,NaN,25.345982,NaN,NaN,NaN
1,2017,4,1148.500000,67.000000,38363.365000,44.465833,23.40,34.944417,64.900000,37.000000,...,0.0,33.403017,33.403017,NaN,NaN,NaN,49.934783,NaN,NaN,NaN
2,2017,5,959.395238,70.285714,42475.300905,57.075833,23.54,42.601155,61.290476,30.352381,...,0.0,44.272995,44.272995,NaN,NaN,NaN,40.949797,NaN,NaN,NaN
3,2017,6,480.730769,66.000000,23358.136923,71.232500,29.95,58.039212,28.461538,10.423077,...,0.0,48.588812,48.588812,NaN,NaN,NaN,20.557566,NaN,NaN,NaN
4,2017,7,462.677419,69.806452,20526.554677,70.355000,25.05,52.592774,22.838710,11.580645,...,0.0,44.364721,44.364721,NaN,NaN,NaN,20.144663,NaN,NaN,NaN
5,2017,8,457.580645,66.451613,22350.982258,64.280500,28.61,51.959191,23.419355,14.354839,...,0.0,48.845996,48.845996,NaN,NaN,NaN,19.922753,NaN,NaN,NaN
6,2017,9,437.583333,71.466667,19796.830000,63.146000,26.93,50.736536,21.000000,12.583333,...,0.0,45.241280,45.241280,NaN,NaN,NaN,18.970376,NaN,NaN,NaN
7,2017,10,637.109677,66.580645,29922.428645,60.922500,26.92,48.886422,29.032258,22.554839,...,0.0,46.965899,46.965899,NaN,NaN,NaN,27.739326,NaN,NaN,NaN
8,2017,11,660.423333,69.200000,28101.312300,59.438500,26.14,48.175603,38.596667,22.306667,...,0.0,42.550453,42.550453,NaN,NaN,NaN,28.631069,NaN,NaN,NaN
9,2017,12,624.487097,73.032258,28725.856194,64.220000,26.61,49.478970,32.809677,20.435484,...,0.0,45.999119,45.999119,NaN,NaN,NaN,27.189747,NaN,NaN,NaN
10,2018,1,171.403226,65.161290,7547.296871,68.281500,30.06,53.431710,10.716129,5.093548,...,0.0,44.032409,44.032409,NaN,NaN,NaN,7.462781,NaN,NaN,NaN
11,2018,2,154.961905,71.238095,5640.024571,68.281500,30.80,54.748980,22.600000,0.000000,...,0.0,36.396201,36.396201,NaN,NaN,NaN,6.614228,NaN,NaN,NaN
12,2018,3,256.451613,71.741935,8647.548387,67.863500,29.27,50.933027,19.354839,4.838710,...,0.0,33.720000,33.720000,NaN,NaN,NaN,11.165730,NaN,NaN,NaN
13,2018,4,135.666667,68.133333,3685.343333,61.533500,19.45,45.921850,11.666667,2.166667,...,0.0,27.164693,27.164693,NaN,NaN,NaN,5.881503,NaN,NaN,NaN
14,2018,5,62.096774,66.451613,1597.129032,68.043000,25.72,46.549473,5.645161,0.806452,...,0.0,25.720000,25.720000,NaN,NaN,NaN,2.703652,NaN,NaN,NaN
15,2018,6,69.183333,71.466667,1902.992500,87.600500,24.90,55.712514,6.316667,0.866667,...,0.0,27.506517,27.506517,NaN,NaN,NaN,2.999277,NaN,NaN,NaN
16,2018,7,212.883871,66.580645,11979.320355,87.533500,24.90,60.334833,21.348387,2.093548,...,0.0,56.271620,56.271620,NaN,NaN,NaN,9.268820,NaN,NaN,NaN
17,2018,8,421.967742,69.548387,20846.363871,85.038000,24.98,60.217567,39.548387,4.258065,...,0.0,49.402743,49.402743,NaN,NaN,NaN,18.372191,NaN,NaN,NaN
18,2018,9,263.583333,72.133333,14504.394167,56.056500,22.45,40.968508,29.716667,4.000000,...,0.0,55.027736,55.027736,NaN,NaN,NaN,11.427023,NaN,NaN,NaN
19,2018,10,163.196774,65.161290,6651.960677,62.737500,26.95,49.842659,9.461290,2.364516,...,0.0,40.760369,40.760369,NaN,NaN,NaN,7.105478,NaN,NaN,NaN
20,2018,11,166.143333,70.800000,7557.278733,61.872000,27.09,49.240328,12.350000,4.850000,...,0.0,45.486500,45.486500,NaN,NaN,NaN,7.202746,NaN,NaN,NaN
21,2018,12,90.225806,69.806452,2842.219355,74.686000,25.36,51.331159,6.316129,2.387097,...,0.0,31.501180,31.501180,NaN,NaN,NaN,3.928371,NaN,NaN,NaN
22,2019,1,0.000000,66.451613,0.000000,67.565500,25.05,52.913914,0.000000,0.000000,...,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
23,2019,2,0.000000,70.142857,0.000000,146.133000,25.19,74.560449,0.000000,0.000000,...,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
24,2019,3,77.129032,73.032258,1699.558065,142.779000,21.90,48.265306,7.000000,1.000000,...,0.0,22.035257,22.035257,NaN,NaN,NaN,3.358146,NaN,NaN,NaN
25,2019,4,270.200000,66.000000,12680.028333,69.072500,23.94,49.169908,24.000000,2.966667,...,0.0,46.928306,46.928306,NaN,NaN,NaN,11.713873,NaN,NaN,NaN
26,2019,5,205.903226,69.548387,11502.967742,70.848000,29.78,56.064927,22.000000,1.451613,...,0.0,55.865894,55.865894,NaN,NaN,NaN,8.964888,NaN,NaN,NaN
27,2019,6,805.403333,72.133333,34613.137367,113.952000,33.99,78.426656,77.876667,11.363333,...,0.0,42.976154,42.976154,NaN,NaN,NaN,34.916329,NaN,NaN,NaN
28,2019,7,682.419355,65.161290,31667.879032,132.950000,45.75,100.109067,64.032258,8.870968,...,0.0,46.405306,46.405306,NaN,NaN,NaN,29.712079,NaN,NaN,NaN
29,2019,8,318.077419,71.741935,21958.339161,132.950000,50.17,101.255137,20.000000,4.329032,...,0.0,69.034574,69.034574,NaN,NaN,NaN,13.848876,NaN,NaN,NaN
30,2019,9,1419.416667,68.133333,66498.569167,96.331000,34.94,72.640089,113.333333,19.616667,...,0.0,46.849224,46.849224,NaN,NaN,NaN,61.535405,NaN,NaN,NaN
31,2019,10,385.161290,66.451613,20672.651613,77.485500,31.94,63.166656,20.000000,5.161290,...,0.0,53.672714,53.672714,NaN,NaN,NaN,16.769663,NaN,NaN,NaN
32,2019,11,648.000000,71.466667,37165.580000,105.401000,26.93,72.643919,33.333333,9.333333,...,0.0,57.354290,57.354290,NaN,NaN,NaN,28.092486,NaN,NaN,NaN
33,2019,12,1715.361290,66.580645,82757.264774,124.212500,36.01,88.461562,132.580645,29.667742,...,0.0,48.244801,48.244801,NaN,NaN,NaN,74.685674,NaN,NaN,NaN
34,2020,1,297.619355,69.548387,18070.982645,120.032917,45.88,92.707159,19.619355,4.967742,...,0.0,60.718439,60.718439,NaN,NaN,NaN,12.958146,NaN,NaN,NaN
35,2020,2,294.827586,70.482759,20749.620690,125.394000,50.50,89.110121,17.241379,4.482759,...,0.0,70.378830,70.378830,NaN,NaN,NaN,12.723214,NaN,NaN,NaN
36,2020,3,240.400000,66.580645,13793.960968,124.307500,45.43,92.362005,18.058065,3.593548,...,0.0,57.379205,57.379205,NaN,NaN,NaN,10.466854,NaN,NaN,NaN
37,2020,4,381.000000,69.200000,18751.794000,113.201000,27.50,64.908625,20.000000,6.890000,...,0.0,49.217307,49.217307,NaN,NaN,NaN,16.517341,NaN,NaN,NaN
38,2020,5,697.258065,73.032258,23920.113419,81.124500,22.80,49.166495,42.222581,13.283871,...,0.0,34.305969,34.305969,NaN,NaN,NaN,30.358146,NaN,NaN,NaN
39,2020,6,725.446667,66.000000,26555.607733,90.527500,24.98,63.285969,45.993333,10.046667,...,0.0,36.605872,36.605872,NaN,NaN,NaN,31.450000,NaN,NaN,NaN
40,2020,7,283.661290,69.548387,10919.639097,113.123500,23.93,74.055495,21.461290,3.029032,...,0.0,38.495345,38.495345,NaN,NaN,NaN,12.350421,NaN,NaN,NaN
41,2020,8,481.135484,69.806452,18674.284452,74.608500,23.93,56.566062,33.277419,6.716129,...,0.0,38.812944,38.812944,NaN,NaN,NaN,20.948315,NaN,NaN,NaN
42,2020,9,178.190000,66.666667,8468.964500,74.108000,24.91,59.041964,12.390000,1.693333,...,0.0,47.527720,47.527720,NaN,NaN,NaN,7.725000,NaN,NaN,NaN
43,2020,10,243.548387,71.741935,12112.112903,69.684000,26.92,54.102677,16.774194,2.580645,...,0.0,49.731854,49.731854,NaN,NaN,NaN,10.603933,NaN,NaN,NaN
44,2020,11,309.073333,68.133333,21815.244267,129.481000,29.92,82.419050,20.953333,3.000000,...,0.0,70.582745,70.582745,NaN,NaN,NaN,13.399133,NaN,NaN,NaN
45,2020,12,272.709677,66.451613,17693.647742,129.481000,40.02,88.487562,19.354839,4.516129,...,0.0,64.880894,64.880894,NaN,NaN,NaN,11.873596,NaN,NaN,NaN
46,2021,1,471.012903,73.032258,25816.277419,66.036000,39.92,57.360298,30.645161,5.477419,...,0.0,54.810128,54.810128,NaN,NaN,NaN,20.507584,NaN,NaN,NaN
47,2021,2,251.078571,70.000000,14009.357071,112.268500,46.98,76.088902,18.614286,3.282143,...,0.0,55.796705,55.796705,NaN,NaN,NaN,10.782515,NaN,NaN,NaN
48,2021,3,270.361290,65.161290,13864.864516,99.404500,45.07,76.915449,20.000000,3.309677,...,0.0,51.282728,51.282728,NaN,NaN,NaN,11.771348,NaN,NaN,NaN
49,2021,4,433.833333,70.800000,19235.606667,117.679000,25.57,74.511414,33.166667,6.333333,...,0.0,44.338701,44.338701,NaN,NaN,NaN,18.807803,NaN,NaN,NaN
50,2021,5,284.032258,69.806452,10445.783871,114.039000,32.58,77.714000,25.645161,4.677419,...,0.0,36.776752,36.776752,NaN,NaN,NaN,12.366573,NaN,NaN,NaN

In [121]:
if (pref=='dam'):
    monthly['evening_days']=daily.loc[daily['evening_hour_count']>0].groupby(['year','month']).count().reset_index(['month','year'])['volume']
    monthly['morning_days']=daily.loc[daily['morning_hour_count']>0].groupby(['year','month']).count().reset_index(['month','year'])['volume']
    monthly['days']=daily.groupby(['year','month']).count().reset_index(['month','year'])['volume']

monthly

,year,month,volume_mean,day_of_week,value_mean,price_max,price_min,price_mean,power_max,power_min,...,evening_hour_count,price_weight_mean,off_price_weight_mean,standard_price_weight_mean,morning_price_weight_mean,evening_price_weight_mean,off_power,morning_power,standard_power,evening_power
0,2017,3,597.631579,64.842105,18470.265789,65.852500,29.00,49.938662,50.000000,9.473684,...,0.0,30.905773,30.905773,NaN,NaN,NaN,25.345982,NaN,NaN,NaN
1,2017,4,1148.500000,67.000000,38363.365000,44.465833,23.40,34.944417,64.900000,37.000000,...,0.0,33.403017,33.403017,NaN,NaN,NaN,49.934783,NaN,NaN,NaN
2,2017,5,959.395238,70.285714,42475.300905,57.075833,23.54,42.601155,61.290476,30.352381,...,0.0,44.272995,44.272995,NaN,NaN,NaN,40.949797,NaN,NaN,NaN
3,2017,6,480.730769,66.000000,23358.136923,71.232500,29.95,58.039212,28.461538,10.423077,...,0.0,48.588812,48.588812,NaN,NaN,NaN,20.557566,NaN,NaN,NaN
4,2017,7,462.677419,69.806452,20526.554677,70.355000,25.05,52.592774,22.838710,11.580645,...,0.0,44.364721,44.364721,NaN,NaN,NaN,20.144663,NaN,NaN,NaN
5,2017,8,457.580645,66.451613,22350.982258,64.280500,28.61,51.959191,23.419355,14.354839,...,0.0,48.845996,48.845996,NaN,NaN,NaN,19.922753,NaN,NaN,NaN
6,2017,9,437.583333,71.466667,19796.830000,63.146000,26.93,50.736536,21.000000,12.583333,...,0.0,45.241280,45.241280,NaN,NaN,NaN,18.970376,NaN,NaN,NaN
7,2017,10,637.109677,66.580645,29922.428645,60.922500,26.92,48.886422,29.032258,22.554839,...,0.0,46.965899,46.965899,NaN,NaN,NaN,27.739326,NaN,NaN,NaN
8,2017,11,660.423333,69.200000,28101.312300,59.438500,26.14,48.175603,38.596667,22.306667,...,0.0,42.550453,42.550453,NaN,NaN,NaN,28.631069,NaN,NaN,NaN
9,2017,12,624.487097,73.032258,28725.856194,64.220000,26.61,49.478970,32.809677,20.435484,...,0.0,45.999119,45.999119,NaN,NaN,NaN,27.189747,NaN,NaN,NaN
10,2018,1,171.403226,65.161290,7547.296871,68.281500,30.06,53.431710,10.716129,5.093548,...,0.0,44.032409,44.032409,NaN,NaN,NaN,7.462781,NaN,NaN,NaN
11,2018,2,154.961905,71.238095,5640.024571,68.281500,30.80,54.748980,22.600000,0.000000,...,0.0,36.396201,36.396201,NaN,NaN,NaN,6.614228,NaN,NaN,NaN
12,2018,3,256.451613,71.741935,8647.548387,67.863500,29.27,50.933027,19.354839,4.838710,...,0.0,33.720000,33.720000,NaN,NaN,NaN,11.165730,NaN,NaN,NaN
13,2018,4,135.666667,68.133333,3685.343333,61.533500,19.45,45.921850,11.666667,2.166667,...,0.0,27.164693,27.164693,NaN,NaN,NaN,5.881503,NaN,NaN,NaN
14,2018,5,62.096774,66.451613,1597.129032,68.043000,25.72,46.549473,5.645161,0.806452,...,0.0,25.720000,25.720000,NaN,NaN,NaN,2.703652,NaN,NaN,NaN
15,2018,6,69.183333,71.466667,1902.992500,87.600500,24.90,55.712514,6.316667,0.866667,...,0.0,27.506517,27.506517,NaN,NaN,NaN,2.999277,NaN,NaN,NaN
16,2018,7,212.883871,66.580645,11979.320355,87.533500,24.90,60.334833,21.348387,2.093548,...,0.0,56.271620,56.271620,NaN,NaN,NaN,9.268820,NaN,NaN,NaN
17,2018,8,421.967742,69.548387,20846.363871,85.038000,24.98,60.217567,39.548387,4.258065,...,0.0,49.402743,49.402743,NaN,NaN,NaN,18.372191,NaN,NaN,NaN
18,2018,9,263.583333,72.133333,14504.394167,56.056500,22.45,40.968508,29.716667,4.000000,...,0.0,55.027736,55.027736,NaN,NaN,NaN,11.427023,NaN,NaN,NaN
19,2018,10,163.196774,65.161290,6651.960677,62.737500,26.95,49.842659,9.461290,2.364516,...,0.0,40.760369,40.760369,NaN,NaN,NaN,7.105478,NaN,NaN,NaN
20,2018,11,166.143333,70.800000,7557.278733,61.872000,27.09,49.240328,12.350000,4.850000,...,0.0,45.486500,45.486500,NaN,NaN,NaN,7.202746,NaN,NaN,NaN
21,2018,12,90.225806,69.806452,2842.219355,74.686000,25.36,51.331159,6.316129,2.387097,...,0.0,31.501180,31.501180,NaN,NaN,NaN,3.928371,NaN,NaN,NaN
22,2019,1,0.000000,66.451613,0.000000,67.565500,25.05,52.913914,0.000000,0.000000,...,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
23,2019,2,0.000000,70.142857,0.000000,146.133000,25.19,74.560449,0.000000,0.000000,...,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
24,2019,3,77.129032,73.032258,1699.558065,142.779000,21.90,48.265306,7.000000,1.000000,...,0.0,22.035257,22.035257,NaN,NaN,NaN,3.358146,NaN,NaN,NaN
25,2019,4,270.200000,66.000000,12680.028333,69.072500,23.94,49.169908,24.000000,2.966667,...,0.0,46.928306,46.928306,NaN,NaN,NaN,11.713873,NaN,NaN,NaN
26,2019,5,205.903226,69.548387,11502.967742,70.848000,29.78,56.064927,22.000000,1.451613,...,0.0,55.865894,55.865894,NaN,NaN,NaN,8.964888,NaN,NaN,NaN
27,2019,6,805.403333,72.133333,34613.137367,113.952000,33.99,78.426656,77.876667,11.363333,...,0.0,42.976154,42.976154,NaN,NaN,NaN,34.916329,NaN,NaN,NaN
28,2019,7,682.419355,65.161290,31667.879032,132.950000,45.75,100.109067,64.032258,8.870968,...,0.0,46.405306,46.405306,NaN,NaN,NaN,29.712079,NaN,NaN,NaN
29,2019,8,318.077419,71.741935,21958.339161,132.950000,50.17,101.255137,20.000000,4.329032,...,0.0,69.034574,69.034574,NaN,NaN,NaN,13.848876,NaN,NaN,NaN
30,2019,9,1419.416667,68.133333,66498.569167,96.331000,34.94,72.640089,113.333333,19.616667,...,0.0,46.849224,46.849224,NaN,NaN,NaN,61.535405,NaN,NaN,NaN
31,2019,10,385.161290,66.451613,20672.651613,77.485500,31.94,63.166656,20.000000,5.161290,...,0.0,53.672714,53.672714,NaN,NaN,NaN,16.769663,NaN,NaN,NaN
32,2019,11,648.000000,71.466667,37165.580000,105.401000,26.93,72.643919,33.333333,9.333333,...,0.0,57.354290,57.354290,NaN,NaN,NaN,28.092486,NaN,NaN,NaN
33,2019,12,1715.361290,66.580645,82757.264774,124.212500,36.01,88.461562,132.580645,29.667742,...,0.0,48.244801,48.244801,NaN,NaN,NaN,74.685674,NaN,NaN,NaN
34,2020,1,297.619355,69.548387,18070.982645,120.032917,45.88,92.707159,19.619355,4.967742,...,0.0,60.718439,60.718439,NaN,NaN,NaN,12.958146,NaN,NaN,NaN
35,2020,2,294.827586,70.482759,20749.620690,125.394000,50.50,89.110121,17.241379,4.482759,...,0.0,70.378830,70.378830,NaN,NaN,NaN,12.723214,NaN,NaN,NaN
36,2020,3,240.400000,66.580645,13793.960968,124.307500,45.43,92.362005,18.058065,3.593548,...,0.0,57.379205,57.379205,NaN,NaN,NaN,10.466854,NaN,NaN,NaN
37,2020,4,381.000000,69.200000,18751.794000,113.201000,27.50,64.908625,20.000000,6.890000,...,0.0,49.217307,49.217307,NaN,NaN,NaN,16.517341,NaN,NaN,NaN
38,2020,5,697.258065,73.032258,23920.113419,81.124500,22.80,49.166495,42.222581,13.283871,...,0.0,34.305969,34.305969,NaN,NaN,NaN,30.358146,NaN,NaN,NaN
39,2020,6,725.446667,66.000000,26555.607733,90.527500,24.98,63.285969,45.993333,10.046667,...,0.0,36.605872,36.605872,NaN,NaN,NaN,31.450000,NaN,NaN,NaN
40,2020,7,283.661290,69.548387,10919.639097,113.123500,23.93,74.055495,21.461290,3.029032,...,0.0,38.495345,38.495345,NaN,NaN,NaN,12.350421,NaN,NaN,NaN
41,2020,8,481.135484,69.806452,18674.284452,74.608500,23.93,56.566062,33.277419,6.716129,...,0.0,38.812944,38.812944,NaN,NaN,NaN,20.948315,NaN,NaN,NaN
42,2020,9,178.190000,66.666667,8468.964500,74.108000,24.91,59.041964,12.390000,1.693333,...,0.0,47.527720,47.527720,NaN,NaN,NaN,7.725000,NaN,NaN,NaN
43,2020,10,243.548387,71.741935,12112.112903,69.684000,26.92,54.102677,16.774194,2.580645,...,0.0,49.731854,49.731854,NaN,NaN,NaN,10.603933,NaN,NaN,NaN
44,2020,11,309.073333,68.133333,21815.244267,129.481000,29.92,82.419050,20.953333,3.000000,...,0.0,70.582745,70.582745,NaN,NaN,NaN,13.399133,NaN,NaN,NaN
45,2020,12,272.709677,66.451613,17693.647742,129.481000,40.02,88.487562,19.354839,4.516129,...,0.0,64.880894,64.880894,NaN,NaN,NaN,11.873596,NaN,NaN,NaN
46,2021,1,471.012903,73.032258,25816.277419,66.036000,39.92,57.360298,30.645161,5.477419,...,0.0,54.810128,54.810128,NaN,NaN,NaN,20.507584,NaN,NaN,NaN
47,2021,2,251.078571,70.000000,14009.357071,112.268500,46.98,76.088902,18.614286,3.282143,...,0.0,55.796705,55.796705,NaN,NaN,NaN,10.782515,NaN,NaN,NaN
48,2021,3,270.361290,65.161290,13864.864516,99.404500,45.07,76.915449,20.000000,3.309677,...,0.0,51.282728,51.282728,NaN,NaN,NaN,11.771348,NaN,NaN,NaN
49,2021,4,433.833333,70.800000,19235.606667,117.679000,25.57,74.511414,33.166667,6.333333,...,0.0,44.338701,44.338701,NaN,NaN,NaN,18.807803,NaN,NaN,NaN
50,2021,5,284.032258,69.806452,10445.783871,114.039000,32.58,77.714000,25.645161,4.677419,...,0.0,36.776752,36.776752,NaN,NaN,NaN,12.366573,NaN,NaN,NaN

In [122]:
monthly.to_csv(out + pref + '_monthly.csv')

In [123]:
monthly_filt=monthly.loc[monthly['year']<2020]
daily_filt=daily.reset_index().loc[daily.reset_index()['year']<2020]

In [124]:
calmonthly=daily_filt.groupby(['month']).mean().reset_index()
calmonthly=calmonthly.drop(['year','day','volume','standard_volume','off_volume','morning_volume','evening_volume'],1)
calmonthly.rename(columns={'value':'value_mean','volume':'volume_mean','price_weight_av': 'price_weight_mean','off_hour_count':'off_hour_mean','standard_hour_count':'standard_hour_mean','morning_hour_count':'morning_hour_mean','evening_hour_count':'evening_hour_mean'}, inplace=True)

calmonthly[['volume', 'off_volume','standard_volume', 'morning_volume', 'evening_volume']]=monthly_filt.groupby(['month']).mean().reset_index()[['volume','off_volume','standard_volume', 'morning_volume', 'evening_volume']]
calmonthly[['value', 'off_value','standard_value', 'morning_value', 'evening_value']]=monthly_filt.groupby(['month']).mean().reset_index()[['value','off_value','standard_value', 'morning_value', 'evening_value']]

calmonthly

,month,day_of_week,value_mean,price_weight_mean,price_max,price_min,price_mean,power_max,power_min,power_mean,...,off_value,standard_value,morning_value,evening_value,volume,off_volume,standard_volume,morning_volume,evening_volume,value
0,1,65.806452,3773.648435,40.405970,95.004839,27.899355,53.172812,5.358065,2.546774,3.714879,...,1.169831e+05,0.0,0.0,0.0,2656.750000,2656.750000,0.0,0.0,0.0,1.169831e+05
1,2,70.612245,2417.153388,56.560000,102.117347,28.066122,66.069820,9.685714,0.000000,2.876888,...,5.922026e+04,0.0,0.0,0.0,1627.100000,1627.100000,0.0,0.0,0.0,5.922026e+04
2,3,70.617284,8292.535185,27.453025,76.193457,26.825802,49.678801,21.814815,4.456790,11.275720,...,2.238985e+05,0.0,0.0,0.0,7232.000000,7232.000000,0.0,0.0,0.0,2.238985e+05
3,4,67.062500,10068.978281,30.693082,68.357812,27.090313,46.758288,20.775000,4.718750,11.604297,...,2.148049e+05,0.0,0.0,0.0,5590.000000,5590.000000,0.0,0.0,0.0,2.148049e+05
4,5,68.578313,15639.570108,38.174440,74.521807,29.157349,49.104466,25.832530,8.522892,14.574056,...,4.326948e+05,0.0,0.0,0.0,9485.100000,9485.100000,0.0,0.0,0.0,4.326948e+05
5,6,70.046512,19799.947163,42.372336,113.796512,32.144884,64.339472,37.974419,7.417442,19.784041,...,5.675985e+05,0.0,0.0,0.0,12912.200000,12912.200000,0.0,0.0,0.0,5.675985e+05
6,7,67.182796,21391.251355,45.643103,125.730538,35.008387,71.012225,36.073118,7.515054,19.550448,...,6.631288e+05,0.0,0.0,0.0,14032.466667,14032.466667,0.0,0.0,0.0,6.631288e+05
7,8,69.247312,21718.561763,55.064815,131.696882,35.502688,71.143965,27.655914,7.647312,17.298790,...,6.732754e+05,0.0,0.0,0.0,12375.466667,12375.466667,0.0,0.0,0.0,6.732754e+05
8,9,70.577778,33599.931111,51.947519,92.956000,30.823556,54.781711,54.683333,12.066667,30.563565,...,1.007998e+06,0.0,0.0,0.0,21205.833333,21205.833333,0.0,0.0,0.0,1.007998e+06
9,10,66.064516,19082.346978,48.126553,83.135914,29.961613,53.965246,19.497849,10.026882,17.083799,...,5.915528e+05,0.0,0.0,0.0,12249.833333,12249.833333,0.0,0.0,0.0,5.915528e+05
10,11,70.488889,24274.723678,49.849032,94.527444,29.412889,56.686617,28.093333,12.163333,21.268009,...,7.282417e+05,0.0,0.0,0.0,14745.666667,14745.666667,0.0,0.0,0.0,7.282417e+05
11,12,69.806452,38108.446774,47.909390,111.795806,33.004731,63.090564,57.235484,17.496774,34.739597,...,1.181362e+06,0.0,0.0,0.0,25110.766667,25110.766667,0.0,0.0,0.0,1.181362e+06

In [125]:
calmonthly.to_csv(out + pref + '_calmonthly.csv')

In [126]:
calmonthly_hours=hourly.groupby(['month','hour']).mean()
calmonthly_hours=calmonthly_hours.drop(['year','day','day_of_week'],1)
calmonthly_hours

                 price     volume        value
month hour
1     0      38.381087  11.568478   509.468380
      1      38.381087  11.568478   509.468380
      2      38.381087  11.568478   509.468380
      3      38.381087  11.568478   509.468380
      4      38.316935  11.626613   513.657411
...                ...        ...          ...
12    19    121.692500  14.888710   853.341532
      20     65.951855  25.118548  1396.648806
      21     65.951855  25.118548  1396.648806
      22     35.736452  46.086290  1868.078177
      23     35.736452  46.086290  1868.078177

[288 rows x 3 columns]

In [127]:
calmonthly_hours.to_csv(out + pref + '_calmonthly_hours.csv')