In [1]:
import numpy as np
import pandas as pd
import datetime
import math
from os import listdir
from os.path import isfile, join
import json

In [2]:
out='../output/'
pref='dam'
inp='../input/monthly/' + pref + '/'

In [3]:
dat=pd.DataFrame(columns=['date','hour','price','volume'])
onlyfiles = [f for f in listdir(inp) if isfile(join(inp, f))]
for f in onlyfiles:
    print(f.split('_'))
    if f.split('_')[0]==pref:
        if f.split('.')[1]=='csv':
            data = pd.read_csv(join(inp, f))
            dat=pd.concat([dat,data])
            
dat['date']=pd.to_datetime(dat.date,format="%Y-%m-%d")

dat.sort_index(inplace=True)
dat

['dam', '2016', '01.csv']
['dam', '2016', '01.json']
['dam', '2016', '02.csv']
['dam', '2016', '02.json']
['dam', '2016', '03.csv']
['dam', '2016', '03.json']
['dam', '2016', '04.csv']
['dam', '2016', '04.json']
['dam', '2016', '05.csv']
['dam', '2016', '05.json']
['dam', '2016', '06.csv']
['dam', '2016', '06.json']
['dam', '2016', '07.csv']
['dam', '2016', '07.json']
['dam', '2016', '08.csv']
['dam', '2016', '08.json']
['dam', '2016', '09.csv']
['dam', '2016', '09.json']
['dam', '2016', '10.csv']
['dam', '2016', '10.json']
['dam', '2016', '11.csv']
['dam', '2016', '11.json']
['dam', '2016', '12.csv']
['dam', '2016', '12.json']
['dam', '2017', '01.csv']
['dam', '2017', '01.json']
['dam', '2017', '02.csv']
['dam', '2017', '02.json']
['dam', '2017', '03.csv']
['dam', '2017', '03.json']
['dam', '2017', '04.csv']

C:\Users\Andy Fleming\AppData\Local\Temp\ipykernel_28860\2425000150.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dat=pd.concat([dat,data])

['dam', '2017', '04.json']
['dam', '2017', '05.csv']
['dam', '2017', '05.json']
['dam', '2017', '06.csv']
['dam', '2017', '06.json']
['dam', '2017', '07.csv']
['dam', '2017', '07.json']
['dam', '2017', '08.csv']
['dam', '2017', '08.json']
['dam', '2017', '09.csv']
['dam', '2017', '09.json']
['dam', '2017', '10.csv']
['dam', '2017', '10.json']
['dam', '2017', '11.csv']
['dam', '2017', '11.json']
['dam', '2017', '12.csv']
['dam', '2017', '12.json']
['dam', '2018', '01.csv']
['dam', '2018', '01.json']
['dam', '2018', '02.csv']
['dam', '2018', '02.json']
['dam', '2018', '03.csv']
['dam', '2018', '03.json']
['dam', '2018', '04.csv']
['dam', '2018', '04.json']
['dam', '2018', '05.csv']
['dam', '2018', '05.json']
['dam', '2018', '06.csv']
['dam', '2018', '06.json']
['dam', '2018', '07.csv']
['dam', '2018', '07.json']
['dam', '2018', '08.csv']
['dam', '2018', '08.json']
['dam', '2018', '09.csv']
['dam', '2018', '09.json']
['dam', '2018', '10.csv']
['dam', '2018', '10.json']
['dam', '2018', '11.csv']
['dam', '2018', '11.json']
['dam', '2018', '12.csv']
['dam', '2018', '12.json']
['dam', '2019', '01.csv']
['dam', '2019', '01.json']
['dam', '2019', '02.csv']
['dam', '2019', '02.json']
['dam', '2019', '03.csv']
['dam', '2019', '03.json']
['dam', '2019', '04.csv']
['dam', '2019', '04.json']
['dam', '2019', '05.csv']
['dam', '2019', '05.json']
['dam', '2019', '06.csv']
['dam', '2019', '06.json']
['dam', '2019', '07.csv']
['dam', '2019', '07.json']
['dam', '2019', '08.csv']
['dam', '2019', '08.json']
['dam', '2019', '09.csv']
['dam', '2019', '09.json']
['dam', '2019', '10.csv']
['dam', '2019', '10.json']
['dam', '2019', '11.csv']
['dam', '2019', '11.json']
['dam', '2019', '12.csv']
['dam', '2019', '12.json']
['dam', '2020', '01.csv']
['dam', '2020', '01.json']
['dam', '2020', '02.csv']
['dam', '2020', '02.json']
['dam', '2020', '03.csv']
['dam', '2020', '03.json']
['dam', '2020', '04.csv']
['dam', '2020', '04.json']
['dam', '2020', '05.csv']
['dam', '2020', '05.json']
['dam', '2020', '06.csv']
['dam', '2020', '06.json']
['dam', '2020', '07.csv']
['dam', '2020', '07.json']
['dam', '2020', '08.csv']
['dam', '2020', '08.json']
['dam', '2020', '09.csv']
['dam', '2020', '09.json']
['dam', '2020', '10.csv']
['dam', '2020', '10.json']
['dam', '2020', '11.csv']
['dam', '2020', '11.json']
['dam', '2020', '12.csv']
['dam', '2020', '12.json']
['dam', '2021', '01.csv']
['dam', '2021', '01.json']
['dam', '2021', '02.csv']
['dam', '2021', '02.json']
['dam', '2021', '03.csv']
['dam', '2021', '03.json']
['dam', '2021', '04.csv']
['dam', '2021', '04.json']
['dam', '2021', '05.csv']
['dam', '2021', '05.json']
['dam', '2021', '06.csv']
['dam', '2021', '06.json']
['dam', '2021', '07.csv']
['dam', '2021', '07.json']
['dam', '2021', '08.csv']
['dam', '2021', '08.json']
['dam', '2021', '09.csv']
['dam', '2021', '09.json']
['dam', '2021', '10.csv']
['dam', '2021', '10.json']
['dam', '2021', '11.csv']
['dam', '2021', '11.json']
['dam', '2021', '12.csv']
['dam', '2021', '12.json']
['dam', '2022', '01.csv']
['dam', '2022', '01.json']
['dam', '2022', '02.csv']
['dam', '2022', '02.json']
['dam', '2022', '03.csv']
['dam', '2022', '03.json']
['dam', '2022', '04.csv']
['dam', '2022', '04.json']
['dam', '2022', '05.csv']
['dam', '2022', '05.json']
['dam', '2022', '06.csv']
['dam', '2022', '06.json']
['dam', '2022', '07.csv']
['dam', '2022', '07.json']
['dam', '2022', '08.csv']
['dam', '2022', '08.json']
['dam', '2022', '09.csv']
['dam', '2022', '09.json']
['dam', '2022', '10.csv']
['dam', '2022', '10.json']
['dam', '2022', '11.csv']
['dam', '2022', '11.json']
['dam', '2022', '12.csv']
['dam', '2022', '12.json']
['dam', '2023', '01.csv']
['dam', '2023', '01.json']
['dam', '2023', '02.csv']
['dam', '2023', '02.json']
['dam', '2023', '03.csv']
['dam', '2023', '03.json']
['dam', '2023', '04.csv']
['dam', '2023', '04.json']
['dam', '2023', '05.csv']
['dam', '2023', '05.json']
['dam', '2023', '06.csv']
['dam', '2023', '06.json']
['dam', '2023', '07.csv']
['dam', '2023', '07.json']
['dam', '2023', '08.csv']
['dam', '2023', '08.json']
['dam', '2023', '09.csv']
['dam', '2023', '09.json']
['dam', '2023', '10.csv']
['dam', '2023', '11.csv']
['dam', '2023', '12.csv']
['dam', '2024', '01.csv']
['dam', '2024', '02.csv']
['dam', '2024', '03.csv']
['dam', '2024', '04.csv']
['dam', '2024', '05.csv']
['dam', '2024', '06.csv']
['dam', '2024', '07.csv']
['dam', '2024', '08.csv']
['dam', '2024', '09.csv']
['dam', '2024', '10.csv']
['dam', '2024', '11.csv']
['dam', '2024', '12.csv']
['dam', '2025', '01.csv']

           date hour   price  volume  zamg
0    2016-01-01    0   40.10   477.5   NaN
0    2023-01-01    0   46.02   201.0   NaN
0    2020-05-01    0   20.97   185.0   NaN
0    2018-09-01    0   26.80   221.0   NaN
0    2022-01-01    0   26.54   168.0   NaN
...         ...  ...     ...     ...   ...
1268 2024-01-31   19  199.94    68.0   NaN
1269 2024-01-31   20  200.25    80.0   NaN
1270 2024-01-31   21  199.07   100.0   NaN
1271 2024-01-31   22  158.00   101.0   NaN
1272 2024-01-31   23   62.00   161.0   NaN

[80184 rows x 5 columns]

In [4]:
hourly=dat.set_index(pd.DatetimeIndex(dat['date']))
hourly.sort_index(inplace=True)
hourly['year']=hourly.index.year
hourly['month']=hourly.index.month
hourly['day']=hourly.index.day
hourly['day_of_week']=hourly.index.dayofweek
hourly=hourly.drop(['date'],axis=1)
hourly['hour']=hourly['hour'].astype(int)
hourly

            hour   price  volume    zamg  year  month  day  day_of_week
date
2016-01-01     0   40.10   477.5     NaN  2016      1    1            4
2016-01-01     8   45.10   323.0     NaN  2016      1    1            4
2016-01-01     3   40.08   496.6     NaN  2016      1    1            4
2016-01-01    12   48.03   310.0     NaN  2016      1    1            4
2016-01-01    11   48.02   315.0     NaN  2016      1    1            4
...          ...     ...     ...     ...   ...    ...  ...          ...
2025-01-31    22  131.00   121.3  131.00  2025      1   31            4
2025-01-31    20  344.08    85.1  344.08  2025      1   31            4
2025-01-31    14  153.02   178.0  153.02  2025      1   31            4
2025-01-31     6  224.93    96.0  224.93  2025      1   31            4
2025-01-31    13  133.48   171.7  133.48  2025      1   31            4

[80184 rows x 8 columns]

In [5]:
hourly['value']=hourly['price']*hourly['volume']
daily=hourly.groupby(['year','month','day']).sum().drop(['hour','day_of_week'],axis=1)
daily['price_weight_av']=daily['value']/daily['volume']
daily=daily.drop(['price'], axis=1)
daily['price_max']=hourly[['year','month','day','price']].groupby(['year','month','day']).max()
daily['price_min']=hourly[['year','month','day','price']].groupby(['year','month','day']).min()
daily['price_mean']=hourly[['year','month','day','price']].groupby(['year','month','day']).mean()

daily['power_max']=hourly[['year','month','day','volume']].groupby(['year','month','day']).max()
daily['power_min']=hourly[['year','month','day','volume']].groupby(['year','month','day']).min()
daily['power_mean']=hourly[['year','month','day','volume']].groupby(['year','month','day']).mean()

daily=daily.reset_index()
daily['date']=pd.to_datetime(daily.reset_index()[['year', 'month', 'day']])
daily=daily.set_index(['year','month','day'])
daily.sort_index(inplace=True)
daily

                volume     zamg       value  price_weight_av  price_max  \
year month day
2016 1     1    7873.8     0.00  336882.508        42.785251      60.08
           2    7319.5     0.00  345982.021        47.268532     118.49
           3    7198.7     0.00  351712.733        48.857812     118.47
           4    4457.0     0.00  225938.810        50.693024     177.66
           5    3750.4     0.00  179068.882        47.746609     181.40
...                ...      ...         ...              ...        ...
2025 1     27   4247.5  3969.68  491832.928       115.793509     300.10
           28   3513.4  4397.72  556967.278       158.526578     351.00
           29   3794.8  4356.66  621092.809       163.669445     305.00
           30   4021.1  4371.24  646710.428       160.829233     347.13
           31   3887.8  4431.98  645360.411       165.996299     344.08

                price_min  price_mean  power_max  power_min  power_mean  \
year month day
2016 1     1        35.09   45.982500      502.9       53.0  328.075000
           2        40.03   54.114167      486.0       40.0  304.979167
           3        44.06   54.959167      486.0       40.0  299.945833
           4        46.70   80.164583      486.0        0.0  185.708333
           5        42.06   84.503333      436.0        0.0  156.266667
...                   ...         ...        ...        ...         ...
2025 1     27       58.78  160.381250      370.0       41.0  176.979167
           28      103.67  183.153750      241.6       53.0  146.391667
           29      111.00  181.525833      260.7       64.0  158.116667
           30      110.99  182.132917      298.6       64.0  167.545833
           31      121.04  184.663750      274.0       64.0  161.991667

                     date
year month day
2016 1     1   2016-01-01
           2   2016-01-02
           3   2016-01-03
           4   2016-01-04
           5   2016-01-05
...                   ...
2025 1     27  2025-01-27
           28  2025-01-28
           29  2025-01-29
           30  2025-01-30
           31  2025-01-31

[3319 rows x 11 columns]

In [6]:
hourly['cat']='off'

if (pref=='dam' or pref=='idm'):
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==6),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=7) & (hourly['hour']<=9),'cat']='morning'

    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=10) & (hourly['hour']<=16),'cat']='standard'

    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==17) & (hourly['month']>=6) & (hourly['month']<=8),'cat']='evening'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==17) & ((hourly['month']<=5) | (hourly['month']>=9)),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==18) & (hourly['month']<=3),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==18) & (hourly['month']>=4),'cat']='evening'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==19),'cat']='evening'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==20) & (hourly['month']<=3),'cat']='evening'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==20) & (hourly['month']>=4),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==21),'cat']='standard'

    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=7) & (hourly['hour']<=11),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==17) & (hourly['month']>=6) & (hourly['month']<=8),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==18) & (hourly['month']>=4),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==19),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==20) & (hourly['month']<=3),'cat']='standard'

if (pref=='fpm'):
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=6) & (hourly['hour']<=21),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=7) & (hourly['hour']<=11),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=18) & (hourly['hour']<=19),'cat']='standard'

if (pref=='fpw'):
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==5),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=6) & (hourly['hour']<=8),'cat']='morning'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=9) & (hourly['hour']<=17),'cat']='standard'
    hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=18) & (hourly['hour']<=19),'cat']='evening'
    
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=7) & (hourly['hour']<=11),'cat']='standard'
    hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=18) & (hourly['hour']<=19),'cat']='standard'
    
hourly

,hour,price,volume,zamg,year,month,day,day_of_week,value,cat
date,,,,,,,,,,
2016-01-01,0,40.10,477.5,NaN,2016,1,1,4,19147.750,off
2016-01-01,8,45.10,323.0,NaN,2016,1,1,4,14567.300,morning
2016-01-01,3,40.08,496.6,NaN,2016,1,1,4,19903.728,off
2016-01-01,12,48.03,310.0,NaN,2016,1,1,4,14889.300,standard
2016-01-01,11,48.02,315.0,NaN,2016,1,1,4,15126.300,standard
...,...,...,...,...,...,...,...,...,...,...
2025-01-31,22,131.00,121.3,131.00,2025,1,31,4,15890.300,off
2025-01-31,20,344.08,85.1,344.08,2025,1,31,4,29281.208,evening
2025-01-31,14,153.02,178.0,153.02,2025,1,31,4,27237.560,standard
2025-01-31,6,224.93,96.0,224.93,2025,1,31,4,21593.280,standard
2025-01-31,13,133.48,171.7,133.48,2025,1,31,4,22918.516,standard

In [7]:
daily['off_price_mean']=hourly.loc[hourly['cat']=='off'][['year','month','day','price']].groupby(['year','month','day']).mean()
daily['standard_price_mean']=hourly.loc[hourly['cat']=='standard'][['year','month','day','price']].groupby(['year','month','day']).mean()
daily['morning_price_mean']=hourly.loc[hourly['cat']=='morning'][['year','month','day','price']].groupby(['year','month','day']).mean()
daily['evening_price_mean']=hourly.loc[hourly['cat']=='evening'][['year','month','day','price']].groupby(['year','month','day']).mean()

daily['off_hour_count']=hourly.loc[hourly['cat']=='off'][['year','month','day','price']].groupby(['year','month','day']).count()
daily['standard_hour_count']=hourly.loc[hourly['cat']=='standard'][['year','month','day','price']].groupby(['year','month','day']).count()
daily['morning_hour_count']=hourly.loc[hourly['cat']=='morning'][['year','month','day','price']].groupby(['year','month','day']).count()
daily['evening_hour_count']=hourly.loc[hourly['cat']=='evening'][['year','month','day','price']].groupby(['year','month','day']).count()

daily['off_volume']=hourly.loc[hourly['cat']=='off'][['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['standard_volume']=hourly.loc[hourly['cat']=='standard'][['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['morning_volume']=hourly.loc[hourly['cat']=='morning'][['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['evening_volume']=hourly.loc[hourly['cat']=='evening'][['year','month','day','volume']].groupby(['year','month','day']).sum()

daily['off_value']=hourly.loc[hourly['cat']=='off'][['year','month','day','value']].groupby(['year','month','day']).sum()
daily['standard_value']=hourly.loc[hourly['cat']=='standard'][['year','month','day','value']].groupby(['year','month','day']).sum()
daily['morning_value']=hourly.loc[hourly['cat']=='morning'][['year','month','day','value']].groupby(['year','month','day']).sum()
daily['evening_value']=hourly.loc[hourly['cat']=='evening'][['year','month','day','value']].groupby(['year','month','day']).sum()

daily

                volume     zamg       value  price_weight_av  price_max  \
year month day
2016 1     1    7873.8     0.00  336882.508        42.785251      60.08
           2    7319.5     0.00  345982.021        47.268532     118.49
           3    7198.7     0.00  351712.733        48.857812     118.47
           4    4457.0     0.00  225938.810        50.693024     177.66
           5    3750.4     0.00  179068.882        47.746609     181.40
...                ...      ...         ...              ...        ...
2025 1     27   4247.5  3969.68  491832.928       115.793509     300.10
           28   3513.4  4397.72  556967.278       158.526578     351.00
           29   3794.8  4356.66  621092.809       163.669445     305.00
           30   4021.1  4371.24  646710.428       160.829233     347.13
           31   3887.8  4431.98  645360.411       165.996299     344.08

                price_min  price_mean  power_max  power_min  power_mean  ...  \
year month day                                                           ...
2016 1     1        35.09   45.982500      502.9       53.0  328.075000  ...
           2        40.03   54.114167      486.0       40.0  304.979167  ...
           3        44.06   54.959167      486.0       40.0  299.945833  ...
           4        46.70   80.164583      486.0        0.0  185.708333  ...
           5        42.06   84.503333      436.0        0.0  156.266667  ...
...                   ...         ...        ...        ...         ...  ...
2025 1     27       58.78  160.381250      370.0       41.0  176.979167  ...
           28      103.67  183.153750      241.6       53.0  146.391667  ...
           29      111.00  181.525833      260.7       64.0  158.116667  ...
           30      110.99  182.132917      298.6       64.0  167.545833  ...
           31      121.04  184.663750      274.0       64.0  161.991667  ...

               morning_hour_count  evening_hour_count  off_volume  \
year month day
2016 1     1                  3.0                 2.0      3851.5
           2                  NaN                 NaN      5969.5
           3                  NaN                 NaN      7198.7
           4                  3.0                 2.0      3828.0
           5                  3.0                 2.0      3230.0
...                           ...                 ...         ...
2025 1     27                 3.0                 2.0      2222.1
           28                 3.0                 2.0      1508.2
           29                 3.0                 2.0      1591.7
           30                 3.0                 2.0      1758.8
           31                 3.0                 2.0      1682.6

                standard_volume  morning_volume  evening_volume   off_value  \
year month day
2016 1     1             2920.3           993.0           109.0  152306.418
           2             1350.0             NaN             NaN  271567.021
           3                NaN             NaN             NaN  351712.733
           4              464.0           109.0            56.0  179880.680
           5              368.4           109.0            43.0  136366.420
...                         ...             ...             ...         ...
2025 1     27            1629.7           235.7           160.0  153837.233
           28            1571.1           272.1           162.0  175798.932
           29            1663.2           331.9           208.0  191896.943
           30            1724.4           339.9           198.0  212072.574
           31            1673.5           327.6           204.1  216275.647

                standard_value  morning_value  evening_value
year month day
2016 1     1        131289.730      46741.000       6545.360
           2         74415.000            NaN            NaN
           3               NaN            NaN            NaN
           4         32852.590       8722.180       4483.360
           5         27912.322       8724.130       6066.010
...                        ...            ...            ...
2025 1     27       252839.985      37141.610      48014.100
           28       277890.455      51303.251      51974.640
           29       302321.758      64018.398      62855.710
           30       306520.679      64747.995      63369.180
           31       302094.322      61998.524      64991.918

[3319 rows x 27 columns]

In [8]:
daily.to_csv(out + pref + '_daily.csv')

In [9]:
hourly.to_csv(out + pref + '_hourly.csv')

In [10]:
hourly_flat=hourly.reset_index().set_index(['date'])
hourly_slim=hourly_flat[['hour','price','volume','cat']]
hourly_slim

            hour   price  volume       cat
date
2016-01-01     0   40.10   477.5       off
2016-01-01     8   45.10   323.0   morning
2016-01-01     3   40.08   496.6       off
2016-01-01    12   48.03   310.0  standard
2016-01-01    11   48.02   315.0  standard
...          ...     ...     ...       ...
2025-01-31    22  131.00   121.3       off
2025-01-31    20  344.08    85.1   evening
2025-01-31    14  153.02   178.0  standard
2025-01-31     6  224.93    96.0  standard
2025-01-31    13  133.48   171.7  standard

[80184 rows x 4 columns]

In [11]:
hourly_slim.to_csv(out + pref + '_hourly_slim.csv')

In [12]:
monthly=daily.groupby(['year','month']).mean()
monthly=monthly.drop(columns=['morning_volume','off_volume','standard_volume','evening_volume','price_weight_av'], axis = 1)
monthly.rename(columns={'value':'value_mean','volume':'volume_mean','off_hour_count':'off_hour_mean','standard_hour_count':'standard_hour_mean','morning_hour_count':'morning_hour_mean','evening_hour_count':'evening_hour_mean'}, inplace=True)
monthly[['price_max','standard_price_max','off_price_max','morning_price_max','evening_price_max']]=daily.groupby(['year','month']).max()[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]
monthly[['price_min','standard_price_min','off_price_min','morning_price_min','evening_price_min']]=daily.groupby(['year','month']).min()[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]
monthly[['price_stdev','standard_price_stdev','off_price_stdev','morning_price_stdev','evening_price_stdev']]=daily.groupby(['year','month']).std()[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]

monthly

            volume_mean         zamg     value_mean   price_max   price_min  \
year month
2016 1      3877.909677     0.000000  216538.697903  104.036250   45.982500
     2      3915.110345     0.000000  263339.799483  111.843750   75.023333
     3      3004.254839     0.000000  192831.319548  101.464167   60.115833
     4      1934.450000     0.000000  119384.364433  114.641667   40.925417
     5      1714.970968     0.000000   95755.502839  104.820833   28.659583
...                 ...          ...            ...         ...         ...
2024 9      2541.193333  5372.073667  437771.045333  265.035833  104.591667
     10     2008.338710  5525.253226  353858.273677  243.238333  139.415417
     11     1929.503333  6439.763000  339449.816333  281.257083  157.078750
     12      968.867742  5691.541935  116848.891194  265.065000  101.152083
2025 1      2012.148387  4932.379032  233250.460419  185.113750   88.367083

            price_mean   power_max  power_min  power_mean                date  \
year month
2016 1       81.784624  362.651613  17.606452  161.579570 2016-01-16 00:00:00
     2       91.385273  367.837931  23.231034  163.129598 2016-02-15 00:00:00
     3       88.099516  285.867742  18.232258  125.177285 2016-03-16 00:00:00
     4       85.320472  183.970000   7.236667   80.602083 2016-04-15 12:00:00
     5       78.638495  165.619355   4.661290   71.457124 2016-05-16 00:00:00
...                ...         ...        ...         ...                 ...
2024 9      183.491708  188.756667  18.466667  105.883056 2024-09-15 12:00:00
     10     197.032056  229.174194   6.806452   83.816182 2024-10-16 00:00:00
     11     209.907306  188.696667   8.820000   80.395972 2024-11-15 12:00:00
     12     165.153535  105.570968   2.232258   40.369489 2024-12-16 00:00:00
2025 1      148.167970  175.387097  18.087097   83.839516 2025-01-16 00:00:00

            ...  evening_price_max  standard_price_min  off_price_min  \
year month  ...
2016 1      ...            173.895           47.883636       39.45250
     2      ...            230.985          105.227143       50.48000
     3      ...            159.310           79.008182       49.53125
     4      ...            192.770           48.655714       29.95625
     5      ...            180.210           38.725714       27.36750
...         ...                ...                 ...            ...
2024 9      ...            375.800          129.638182       46.94500
     10     ...            378.110          175.391818       79.80375
     11     ...            371.610          190.879091      122.75750
     12     ...            372.390           93.271818       83.48375
2025 1      ...            351.920           99.420000       81.91875

            morning_price_min  evening_price_min  price_stdev  \
year month
2016 1              47.046667             60.050    16.069174
     2             113.423333            120.085     9.513109
     3              98.910000             89.340    10.907181
     4              45.033333            114.790    17.997428
     5              42.956667            102.150    21.811428
...                       ...                ...          ...
2024 9             135.233333            314.950    45.907460
     10            104.950000            363.830    25.797372
     11            163.640000            352.470    31.021090
     12             69.393333            225.260    40.325685
2025 1              62.523333            196.740    26.927783

            standard_price_stdev  off_price_stdev  morning_price_stdev  \
year month
2016 1                 16.331618         8.005807            27.324729
     2                  5.335687        10.070843            17.997176
     3                  8.540729         7.734006            15.293820
     4                 21.386705        12.512146            38.910060
     5                 23.322605        11.512988            26.538839
...                          ...              ...                  ...
2024 9                 57.433568        34.669632            73.505669
     10                18.231922        21.394923            45.065162
     11                23.217077        17.780846            60.271235
     12                43.171187        37.629436            80.346942
2025 1                 31.209096        23.419606            61.474437

            evening_price_stdev
year month
2016 1                25.472109
     2                25.793166
     3                19.588256
     4                22.367452
     5                15.149957
...                         ...
2024 9                15.861323
     10                3.364933
     11                5.925662
     12               42.750223
2025 1                34.179256

[109 rows x 35 columns]

In [13]:
if (pref=='dam'):
    monthly['evening_days']=daily.loc[daily['evening_hour_count']>0].groupby(['year','month']).count()['volume']
    monthly['morning_days']=daily.loc[daily['morning_hour_count']>0].groupby(['year','month']).count()['volume']
    monthly['days']=daily.groupby(['year','month']).count()['volume']
    monthly[['volume','morning_volume','evening_volume','standard_volume','off_volume']]=daily.drop(columns=['date'],axis=1).groupby(['year','month']).sum()[['volume','morning_volume','evening_volume','standard_volume','off_volume']]
    monthly[['value','morning_value','evening_value','standard_value','off_value']]=daily.drop(columns=['date'],axis=1).groupby(['year','month']).sum()[['value','morning_value','evening_value','standard_value','off_value']]
    monthly[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]=daily.drop(columns=['date'],axis=1).groupby(['year','month']).sum()[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]

    monthly['price_weight_mean']=monthly['value'] / monthly['volume']
    monthly['off_price_weight_mean']=monthly['off_value'] / monthly['off_volume']
    monthly['standard_price_weight_mean']=monthly['standard_value'] / monthly['standard_volume']
    monthly['morning_price_weight_mean']=monthly['morning_value'] / monthly['morning_volume']
    monthly['evening_price_weight_mean']=monthly['evening_value'] / monthly['evening_volume']

    monthly['off_power']=monthly['off_volume'] / monthly['off_hour_count']
    monthly['morning_power']=monthly['morning_volume'] / monthly['morning_hour_count']
    monthly['standard_power']=monthly['standard_volume'] / monthly['standard_hour_count']
    monthly['evening_power']=monthly['evening_volume'] / monthly['evening_hour_count']
monthly

            volume_mean         zamg     value_mean   price_max   price_min  \
year month
2016 1      3877.909677     0.000000  216538.697903  104.036250   45.982500
     2      3915.110345     0.000000  263339.799483  111.843750   75.023333
     3      3004.254839     0.000000  192831.319548  101.464167   60.115833
     4      1934.450000     0.000000  119384.364433  114.641667   40.925417
     5      1714.970968     0.000000   95755.502839  104.820833   28.659583
...                 ...          ...            ...         ...         ...
2024 9      2541.193333  5372.073667  437771.045333  265.035833  104.591667
     10     2008.338710  5525.253226  353858.273677  243.238333  139.415417
     11     1929.503333  6439.763000  339449.816333  281.257083  157.078750
     12      968.867742  5691.541935  116848.891194  265.065000  101.152083
2025 1      2012.148387  4932.379032  233250.460419  185.113750   88.367083

            price_mean   power_max  power_min  power_mean                date  \
year month
2016 1       81.784624  362.651613  17.606452  161.579570 2016-01-16 00:00:00
     2       91.385273  367.837931  23.231034  163.129598 2016-02-15 00:00:00
     3       88.099516  285.867742  18.232258  125.177285 2016-03-16 00:00:00
     4       85.320472  183.970000   7.236667   80.602083 2016-04-15 12:00:00
     5       78.638495  165.619355   4.661290   71.457124 2016-05-16 00:00:00
...                ...         ...        ...         ...                 ...
2024 9      183.491708  188.756667  18.466667  105.883056 2024-09-15 12:00:00
     10     197.032056  229.174194   6.806452   83.816182 2024-10-16 00:00:00
     11     209.907306  188.696667   8.820000   80.395972 2024-11-15 12:00:00
     12     165.153535  105.570968   2.232258   40.369489 2024-12-16 00:00:00
2025 1      148.167970  175.387097  18.087097   83.839516 2025-01-16 00:00:00

            ...  evening_hour_count  price_weight_mean  off_price_weight_mean  \
year month  ...
2016 1      ...                42.0          55.839026              50.385088
     2      ...                42.0          67.262421              56.542839
     3      ...                46.0          64.186073              55.124423
     4      ...                42.0          61.714888              56.919792
     5      ...                44.0          55.835058              49.682582
...         ...                 ...                ...                    ...
2024 9      ...                42.0         172.269870             127.268792
     10     ...                46.0         176.194519             148.307614
     11     ...                42.0         175.926007             151.904676
     12     ...                44.0         120.603552             123.345172
2025 1      ...                46.0         115.921103              91.650285

            standard_price_weight_mean  morning_price_weight_mean  \
year month
2016 1                       81.002858                  77.850006
     2                      106.547628                 129.026815
     3                       98.717668                 116.099471
     4                      104.192200                 104.410448
     5                      106.019186                  95.368696
...                                ...                        ...
2024 9                      203.133083                 299.627525
     10                     229.812579                 200.101364
     11                     243.682700                 238.695479
     12                     109.972176                 129.847599
2025 1                      129.013682                 114.946000

            evening_price_weight_mean   off_power  morning_power  \
year month
2016 1                     137.720998  272.092493      33.409524
     2                     156.801247  275.132530      12.280952
     3                     107.341031  214.125862      15.502899
     4                     139.262082  149.820630       7.793651
     5                     140.331232  130.040385      10.831818
...                               ...         ...            ...
2024 9                     364.757330  120.933146     118.906349
     10                    369.492070  121.020173      37.743478
     11                    366.947251  124.511175      18.796825
     12                    310.513446   36.247527      57.804545
2025 1                     314.943300   88.706897      84.931884

            standard_power  evening_power
year month
2016 1           56.583459      37.350000
     2           75.799614      42.580952
     3           56.748043      34.786957
     4           19.055263       4.438095
     5           18.262963       4.170455
...                    ...            ...
2024 9           94.650579      28.047619
     10          58.722420      25.200000
     11          47.604135      13.900000
     12          47.005185       7.597727
2025 1           83.244840      49.010870

[109 rows x 57 columns]

In [14]:
monthly['off_price_diff']=monthly['off_price_mean']-monthly['off_price_mean'].shift(1)
monthly['morning_price_diff']=monthly['morning_price_mean']-monthly['morning_price_mean'].shift(1)
monthly['standard_price_diff']=monthly['standard_price_mean']-monthly['standard_price_mean'].shift(1)
monthly['evening_price_diff']=monthly['evening_price_mean']-monthly['evening_price_mean'].shift(1)

#monthly['off_price_log_diff']=np.log10(monthly['off_price_mean'])-np.log10(monthly['off_price_mean']).shift(1)
#monthly['morning_price_log_diff']=np.log10(monthly['morning_price_mean'])-np.log10(monthly['morning_price_mean']).shift(1)
#monthly['standard_price_log_diff']=np.log10(monthly['standard_price_mean'])-np.log10(monthly['standard_price_mean']).shift(1)
#monthly['evening_price_log_diff']=np.log10(monthly['evening_price_mean'])-np.log10(monthly['evening_price_mean']).shift(1)

In [15]:
monthly.to_csv(out + pref + '_monthly.csv')

In [16]:
monthly_filt=monthly.reset_index().loc[monthly.reset_index()['year']>2019]
daily_filt=daily.reset_index().loc[daily.reset_index()['year']>2019]
hourly_filt=hourly.reset_index().loc[hourly.reset_index()['year']>2019]

In [21]:
monthly_filt.groupby(['month']).mean()[['volume','off_volume','standard_volume', 'morning_volume', 'evening_volume']]

,volume,off_volume,standard_volume,morning_volume,evening_volume
month,,,,,
1,115193.00,61166.066667,40043.783333,10993.283333,2989.866667
2,84591.28,43020.720000,30505.140000,8832.860000,2232.560000
3,75560.16,39989.820000,26815.720000,6448.840000,2305.780000
4,85620.42,46217.660000,29043.140000,7827.740000,2531.880000
5,88537.56,46493.400000,29897.540000,9021.840000,3124.780000
6,88122.74,44478.500000,28902.160000,8865.320000,5876.760000
7,111536.52,59385.680000,35741.040000,9847.460000,6562.340000
8,119969.34,62189.820000,39569.660000,11171.640000,7038.220000
9,101912.36,56525.240000,33469.880000,8800.620000,3116.620000
10,94236.96,54582.080000,29521.300000,7239.960000,2893.620000
11,76035.46,46588.800000,21707.200000,5216.760000,2522.700000
12,76466.04,41503.800000,25663.420000,6752.100000,2546.720000

In [23]:
calmonthly=daily_filt.groupby(['month']).mean().reset_index()
calmonthly=calmonthly.drop(columns=['year','day','volume','standard_volume','off_volume','morning_volume','evening_volume', 'off_hour_count', 'morning_hour_count', 'standard_hour_count','evening_hour_count'], axis=1)
calmonthly.rename(columns={'value':'value_mean','volume':'volume_mean','price_weight_av': 'price_weight_mean'}, inplace=True)
calmonthly.set_index('month',inplace=True)

calmonthly[['price_median', 'off_price_median','standard_price_median', 'morning_price_median', 'evening_price_median']]=daily_filt.groupby(['month']).median()[['price_mean','off_price_mean','standard_price_mean', 'morning_price_mean', 'evening_price_mean']]
calmonthly[['price_stdev', 'off_price_stdev','standard_price_stdev', 'morning_price_stdev', 'evening_price_stdev']]=daily_filt.groupby(['month']).std()[['price_mean','off_price_mean','standard_price_mean', 'morning_price_mean', 'evening_price_mean']]

calmonthly[['volume', 'off_volume','standard_volume', 'morning_volume', 'evening_volume']]=monthly_filt.groupby(['month']).mean()[['volume','off_volume','standard_volume', 'morning_volume', 'evening_volume']]
calmonthly[['value', 'off_value','standard_value', 'morning_value', 'evening_value']]=monthly_filt.groupby(['month']).mean()[['value','off_value','standard_value', 'morning_value', 'evening_value']]
calmonthly[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]=monthly_filt.groupby(['month']).mean()[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]
calmonthly[['off_power','standard_power', 'morning_power', 'evening_power']]=monthly_filt.groupby(['month']).mean()[['off_power','standard_power', 'morning_power', 'evening_power']]

calmonthly

,zamg,value_mean,price_weight_mean,price_max,price_min,price_mean,power_max,power_min,power_mean,date,...,evening_volume,value,off_hour_count,standard_hour_count,morning_hour_count,evening_hour_count,off_power,standard_power,morning_power,evening_power
month,,,,,,,,,,,,,,,,,,,,,
1,822.063172,230150.498323,69.642827,218.337742,38.705914,81.574142,229.763978,46.070968,136.642426,2022-07-17 12:00:00,...,2989.866667,7.134665e+06,401.0,307.0,74.5,49.666667,151.329571,128.282109,143.003914,59.353959
2,0.000000,221234.661711,76.215971,238.925704,41.306479,87.430472,203.315493,38.408451,124.106925,2022-02-14 12:00:00,...,2232.560000,6.283064e+06,329.0,251.6,60.6,40.400000,130.925514,120.630754,144.930841,55.124238
3,0.000000,194256.565806,82.250711,205.520129,54.952581,93.369465,172.650323,36.896774,101.559355,2022-03-16 04:48:00,...,2305.780000,6.021954e+06,356.2,275.8,67.2,44.800000,112.526145,97.243640,96.291971,50.949767
4,0.000000,164458.704287,61.801121,185.388800,39.026133,71.000436,191.176667,40.768000,118.917250,2022-04-15 16:48:00,...,2531.880000,4.933761e+06,346.8,266.2,64.2,42.800000,133.658495,109.091127,122.333843,59.234571
5,0.000000,141099.367368,51.823293,178.675097,25.799484,59.179454,194.097419,51.968387,119.002097,2022-05-16 04:48:00,...,3124.780000,4.374080e+06,361.2,272.8,66.0,44.000000,128.766234,109.425472,136.625857,70.752101
6,0.000000,211760.146320,82.235173,207.923667,41.723067,87.225397,207.105333,52.812000,122.392694,2022-06-15 16:48:00,...,5876.760000,6.352804e+06,340.8,249.6,64.8,64.800000,130.999107,115.507897,135.967879,90.254848
7,790.925097,310914.021232,89.138373,227.842903,44.696645,96.152167,240.867742,62.662581,149.914677,2022-07-16 04:48:00,...,6562.340000,9.638335e+06,355.2,256.8,66.0,66.000000,166.910449,139.428924,148.835229,100.058841
8,801.736968,327348.795135,83.660634,229.033871,39.824903,92.541156,253.291613,75.392258,161.249113,2022-08-16 04:48:00,...,7038.220000,1.014781e+07,353.6,257.2,66.6,66.600000,176.078910,153.674877,168.109247,105.394769
9,1074.414733,315057.514180,96.290248,242.498533,49.746467,110.591075,227.472667,53.268000,141.544944,2022-09-15 16:48:00,...,3116.620000,9.451725e+06,345.0,267.0,64.8,43.200000,164.353802,125.057667,135.548427,71.423939
10,1105.050645,329611.461903,116.359599,271.346710,62.182968,130.379365,224.218710,44.179355,126.689661,2022-10-16 04:48:00,...,2893.620000,1.021796e+07,362.8,272.0,65.4,43.600000,149.699051,109.271121,112.195406,67.310996
11,1287.952600,324675.803327,151.785616,289.052267,87.012000,163.727319,197.222667,40.368667,105.604806,2022-11-15 16:48:00,...,2522.700000,9.740274e+06,345.0,267.0,64.8,43.200000,135.072702,81.274953,80.248341,57.988571
12,1138.308387,208423.417529,97.660952,240.653742,58.604452,113.057573,179.910968,33.858065,102.776935,2022-12-16 04:48:00,...,2546.720000,6.461126e+06,358.0,275.0,66.6,44.400000,116.511915,93.364500,101.836327,57.652710

In [24]:
calmonthly.to_csv(out + pref + '_calmonthly.csv')

In [25]:
calmonthly_hours=hourly_filt.drop(columns=['date','cat'], axis=1).groupby(['month','hour']).mean()
calmonthly_hours=calmonthly_hours.drop(columns=['year','day','day_of_week'],axis=1)
calmonthly_hours

                 price      volume        zamg        value
month hour
1     0      47.182019  156.635096  153.095806  6351.304957
      1      44.981346  166.437500  152.824839  6411.631538
      2      43.855096  172.304808  151.523871  6464.798260
      3      43.442885  173.308654  154.572258  6449.582173
      4      44.902452  175.346154  176.710968  6751.007264
...                ...         ...         ...          ...
12    19    231.729484   52.283871  349.575484  9575.470026
      20    208.669677   49.611613  341.976129  8034.788548
      21    163.530774   69.805806  277.642903  8448.300987
      22     92.516323   94.640000  193.753226  7148.620716
      23     77.015677  109.970323  171.112258  6520.402226

[288 rows x 4 columns]

In [26]:
calmonthly_hours.to_csv(out + pref + '_calmonthly_hours.csv')

In [27]:
yearly_calmonthly_hours=hourly_filt.drop(columns=['date','cat'], axis=1).groupby(['year','month','hour']).mean()
yearly_calmonthly_hours=yearly_calmonthly_hours.drop(columns=['day','day_of_week'], axis=1)
yearly_calmonthly_hours

                      price      volume        zamg         value
year month hour
2020 1     0      46.363548  156.645161         NaN   7225.481613
           1      43.721935  166.580645         NaN   7316.026129
           2      42.424516  170.161290         NaN   7284.921613
           3      42.173226  169.838710         NaN   7233.679032
           4      42.779355  176.035484         NaN   7619.790323
...                     ...         ...         ...           ...
2025 1     19    328.481935   50.083871  330.183548  15587.293806
           20    310.108710   38.480645  322.297742  11312.056419
           21    236.114839   30.496774  242.085806   5352.042774
           22    110.500000   88.658065  163.907419   7876.522645
           23    104.740000   90.416129  161.966774   7354.514194

[1464 rows x 4 columns]

In [28]:
yearly_calmonthly_hours.to_csv(out + pref + '_yearly_calmonthly_hours.csv')

In [29]:
from statsmodels.tsa.stattools import pacf

In [30]:
pacfs=pd.DataFrame(data={'standard': pacf(monthly.reset_index()['standard_price_mean'], nlags=14)})
pacfs['evening']= pacf(monthly.reset_index()['evening_price_mean'], nlags=14)
pacfs['morning']= pacf(monthly.reset_index()['morning_price_mean'], nlags=14)
pacfs['off']= pacf(monthly.reset_index()['off_price_mean'], nlags=14)
pacfs

    standard   evening   morning       off
0   1.000000  1.000000  1.000000  1.000000
1   0.745138  0.816573  0.744562  0.763819
2  -0.096879 -0.013751 -0.060823 -0.115101
3   0.130555  0.093507  0.048665  0.229384
4   0.003042  0.152720  0.002535  0.116318
5  -0.136537 -0.018156 -0.246729 -0.124470
6  -0.024564 -0.009113 -0.156260  0.104951
7   0.247666  0.059727  0.302218  0.158064
8   0.010772  0.150615  0.159137 -0.052569
9   0.034580  0.171622 -0.106679  0.131211
10  0.135295 -0.090247  0.095473  0.094809
11  0.219067  0.240109  0.058745  0.172923
12 -0.016277 -0.188183 -0.029896  0.118950
13 -0.178460  0.123309 -0.205478 -0.250216
14 -0.128317  0.027152 -0.005106 -0.087502

In [31]:
pacfs.to_csv(out + pref + '_pacfs.csv')