In [140]:
import numpy as np
import pandas as pd
import datetime
import math
from os import listdir
from os.path import isfile, join
import json

In [141]:
out='../output/'
inp='../input/monthly/'
pref='fpm'

In [142]:
dat=pd.DataFrame(columns=[0,1,2])
onlyfiles = [f for f in listdir(inp) if isfile(join(inp, f))]
for f in onlyfiles:
    if (f.split('_')[0]==pref):
        #print(f)
        with open(join(inp, f), "r") as read_file:
            data = pd.DataFrame(json.load(read_file))
            dat=pd.concat([dat,data])

dat

,0,1,2
0,Date:Time,Price(USD/MWh),Turnover(MWh)
1,Min,,
2,Max,,
3,Average,,
4,Total,,
...,...,...,...
744,(2021/05/31) 23-24,39.95,20
745,Min,39.95,0
746,Max,100,20
747,Average,69.329301075268817204301075269,10.215053763440860215053763441
748,Total,51581.00,7600

In [143]:
dat.drop(dat[dat[0] == 'Date:Time'].index, inplace = True)
dat.drop(dat[dat[0] == 'Min'].index, inplace = True)
dat.drop(dat[dat[0] == 'Max'].index, inplace = True)
dat.drop(dat[dat[0] == 'Average'].index, inplace = True)
dat.drop(dat[dat[0] == 'Total'].index, inplace = True)
dat.columns=['datehour','price','volume']
dat['price']=dat['price'].astype(float)
dat['volume']=dat['volume'].astype(float)
dat

               datehour   price  volume
5    (2017/04/01) 04-05   39.06     9.4
6    (2017/04/01) 05-06   39.06     9.4
7    (2017/04/01) 06-07   39.06     9.4
8    (2017/04/01) 07-08   67.32     0.0
9    (2017/04/01) 08-09   67.32     0.0
..                  ...     ...     ...
740  (2021/05/31) 19-20  100.00     0.0
741  (2021/05/31) 20-21  100.00     0.0
742  (2021/05/31) 21-22  100.00     0.0
743  (2021/05/31) 22-23   39.95    20.0
744  (2021/05/31) 23-24   39.95    20.0

[31940 rows x 3 columns]

In [144]:
dat['date']=pd.to_datetime(dat.datehour.str.slice(1,11),format="%Y/%m/%d")
dat['hour']=dat.datehour.str.slice(13,15).astype(int)
dat

               datehour   price  volume       date  hour
5    (2017/04/01) 04-05   39.06     9.4 2017-04-01     4
6    (2017/04/01) 05-06   39.06     9.4 2017-04-01     5
7    (2017/04/01) 06-07   39.06     9.4 2017-04-01     6
8    (2017/04/01) 07-08   67.32     0.0 2017-04-01     7
9    (2017/04/01) 08-09   67.32     0.0 2017-04-01     8
..                  ...     ...     ...        ...   ...
740  (2021/05/31) 19-20  100.00     0.0 2021-05-31    19
741  (2021/05/31) 20-21  100.00     0.0 2021-05-31    20
742  (2021/05/31) 21-22  100.00     0.0 2021-05-31    21
743  (2021/05/31) 22-23   39.95    20.0 2021-05-31    22
744  (2021/05/31) 23-24   39.95    20.0 2021-05-31    23

[31940 rows x 5 columns]

In [145]:
dat=dat.drop(['datehour'],1)
dat

      price  volume       date  hour
5     39.06     9.4 2017-04-01     4
6     39.06     9.4 2017-04-01     5
7     39.06     9.4 2017-04-01     6
8     67.32     0.0 2017-04-01     7
9     67.32     0.0 2017-04-01     8
..      ...     ...        ...   ...
740  100.00     0.0 2021-05-31    19
741  100.00     0.0 2021-05-31    20
742  100.00     0.0 2021-05-31    21
743   39.95    20.0 2021-05-31    22
744   39.95    20.0 2021-05-31    23

[31940 rows x 4 columns]

In [146]:
hourly=dat.set_index(pd.DatetimeIndex(dat['date']))
hourly['year']=hourly.index.year
hourly['month']=hourly.index.month
hourly['day']=hourly.index.day
hourly['day_of_week']=hourly.index.dayofweek
hourly=hourly.drop(['date'],axis=1)
hourly

             price  volume  hour  year  month  day  day_of_week
date
2017-04-01   39.06     9.4     4  2017      4    1            5
2017-04-01   39.06     9.4     5  2017      4    1            5
2017-04-01   39.06     9.4     6  2017      4    1            5
2017-04-01   67.32     0.0     7  2017      4    1            5
2017-04-01   67.32     0.0     8  2017      4    1            5
...            ...     ...   ...   ...    ...  ...          ...
2021-05-31  100.00     0.0    19  2021      5   31            0
2021-05-31  100.00     0.0    20  2021      5   31            0
2021-05-31  100.00     0.0    21  2021      5   31            0
2021-05-31   39.95    20.0    22  2021      5   31            0
2021-05-31   39.95    20.0    23  2021      5   31            0

[31940 rows x 7 columns]

In [147]:
hourly['value']=hourly['price']*hourly['volume']
daily=hourly.groupby(['year','month','day']).sum().drop(['hour'],axis=1)
daily['price_weight_av']=daily['value']/daily['volume']
daily=daily.drop(['price'], axis=1)
daily['price_max']=hourly[['year','month','day','price']].groupby(['year','month','day']).max()
daily['price_min']=hourly[['year','month','day','price']].groupby(['year','month','day']).min()
daily['price_mean']=hourly[['year','month','day','price']].groupby(['year','month','day']).mean()

daily['power_max']=hourly[['year','month','day','volume']].groupby(['year','month','day']).max()
daily['power_min']=hourly[['year','month','day','volume']].groupby(['year','month','day']).min()
daily['power_mean']=hourly[['year','month','day','volume']].groupby(['year','month','day']).mean()

daily['price_morning_max']=hourly.loc[hourly['hour']<11][['year','month','day','price']].groupby(['year','month','day']).max()
daily['price_evening_max']=hourly.loc[hourly['hour']>=11][['year','month','day','price']].groupby(['year','month','day']).max()
daily['price_standard']=hourly.loc[(hourly['hour']>=12) & (hourly['hour']<=15)][['year','month','day','price']].groupby(['year','month','day']).mean()

daily

                volume  day_of_week      value  price_weight_av  price_max  \
year month day
2017 4     1     122.2          100   4773.132            39.06      67.32
           2     225.6          144   8811.936            39.06      39.06
           3      37.6            0   1468.656            39.06      67.32
           4      37.6           20   1468.656            39.06      67.32
           5      75.2           48   2937.312            39.06      67.32
...                ...          ...        ...              ...        ...
2021 5     27    160.0           72   6392.000            39.95     100.00
           28    160.0           96   6392.000            39.95     100.00
           29    260.0          100  10387.000            39.95     100.00
           30    400.0          120  15980.000            39.95      39.95
           31     80.0            0   3196.000            39.95     100.00

                price_min  price_mean  power_max  power_min  power_mean  \
year month day
2017 4     1        39.06   48.951000        9.4        0.0    6.110000
           2        39.06   39.060000        9.4        9.4    9.400000
           3        39.06   61.668000        9.4        0.0    1.880000
           4        39.06   61.668000        9.4        0.0    1.880000
           5        39.06   57.900000        9.4        0.0    3.133333
...                   ...         ...        ...        ...         ...
2021 5     27       39.95   79.983333       20.0        0.0    6.666667
           28       39.95   79.983333       20.0        0.0    6.666667
           29       39.95   60.967500       20.0        0.0   13.000000
           30       39.95   39.950000       20.0       20.0   20.000000
           31       39.95   87.990000       20.0        0.0    4.000000

                price_morning_max  price_evening_max  price_standard
year month day
2017 4     1                67.32              67.32           39.06
           2                39.06              39.06           39.06
           3                67.32              67.32           67.32
           4                67.32              67.32           67.32
           5                67.32              67.32           67.32
...                           ...                ...             ...
2021 5     27              100.00             100.00          100.00
           28              100.00             100.00          100.00
           29              100.00             100.00           39.95
           30               39.95              39.95           39.95
           31              100.00             100.00          100.00

[1388 rows x 13 columns]

In [148]:
hourly['cat']='off'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==6),'cat']='standard'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=7) & (hourly['hour']<=9),'cat']='morning'

hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=10) & (hourly['hour']<=16),'cat']='standard'

hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==17) & (hourly['month']>=6) & (hourly['month']<=8),'cat']='evening'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==17) & ((hourly['month']<=5) | (hourly['month']>=9)),'cat']='standard'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==18) & (hourly['month']<=3),'cat']='standard'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==18) & (hourly['month']>=4),'cat']='evening'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==19),'cat']='evening'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==20) & (hourly['month']<=3),'cat']='evening'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==20) & (hourly['month']>=4),'cat']='standard'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==21),'cat']='standard'

hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=7) & (hourly['hour']<=11),'cat']='standard'
hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==17) & (hourly['month']>=6) & (hourly['month']<=8),'cat']='standard'
hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==18) & (hourly['month']>=4),'cat']='standard'
hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==19),'cat']='standard'
hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==20) & (hourly['month']<=3),'cat']='standard'
hourly

,price,volume,hour,year,month,day,day_of_week,value,cat
date,,,,,,,,,
2017-04-01,39.06,9.4,4,2017,4,1,5,367.164,off
2017-04-01,39.06,9.4,5,2017,4,1,5,367.164,off
2017-04-01,39.06,9.4,6,2017,4,1,5,367.164,off
2017-04-01,67.32,0.0,7,2017,4,1,5,0.000,standard
2017-04-01,67.32,0.0,8,2017,4,1,5,0.000,standard
...,...,...,...,...,...,...,...,...,...
2021-05-31,100.00,0.0,19,2021,5,31,0,0.000,evening
2021-05-31,100.00,0.0,20,2021,5,31,0,0.000,standard
2021-05-31,100.00,0.0,21,2021,5,31,0,0.000,standard
2021-05-31,39.95,20.0,22,2021,5,31,0,799.000,off
2021-05-31,39.95,20.0,23,2021,5,31,0,799.000,off

In [149]:
daily['off_price_mean']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()
daily['standard_price_mean']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()
daily['morning_price_mean']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()
daily['evening_price_mean']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()

daily['off_hour_count']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()
daily['standard_hour_count']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()
daily['morning_hour_count']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()
daily['evening_hour_count']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()

daily['off_volume']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['standard_volume']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['morning_volume']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['evening_volume']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()

daily['off_value']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()
daily['standard_value']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()
daily['morning_value']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()
daily['evening_value']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()

daily

                volume  day_of_week      value  price_weight_av  price_max  \
year month day
2017 4     1     122.2          100   4773.132            39.06      67.32
           2     225.6          144   8811.936            39.06      39.06
           3      37.6            0   1468.656            39.06      67.32
           4      37.6           20   1468.656            39.06      67.32
           5      75.2           48   2937.312            39.06      67.32
...                ...          ...        ...              ...        ...
2021 5     27    160.0           72   6392.000            39.95     100.00
           28    160.0           96   6392.000            39.95     100.00
           29    260.0          100  10387.000            39.95     100.00
           30    400.0          120  15980.000            39.95      39.95
           31     80.0            0   3196.000            39.95     100.00

                price_min  price_mean  power_max  power_min  power_mean  ...  \
year month day                                                           ...
2017 4     1        39.06   48.951000        9.4        0.0    6.110000  ...
           2        39.06   39.060000        9.4        9.4    9.400000  ...
           3        39.06   61.668000        9.4        0.0    1.880000  ...
           4        39.06   61.668000        9.4        0.0    1.880000  ...
           5        39.06   57.900000        9.4        0.0    3.133333  ...
...                   ...         ...        ...        ...         ...  ...
2021 5     27       39.95   79.983333       20.0        0.0    6.666667  ...
           28       39.95   79.983333       20.0        0.0    6.666667  ...
           29       39.95   60.967500       20.0        0.0   13.000000  ...
           30       39.95   39.950000       20.0       20.0   20.000000  ...
           31       39.95   87.990000       20.0        0.0    4.000000  ...

                morning_hour_count  evening_hour_count  off_volume  \
year month day
2017 4     1                   NaN                 NaN       122.2
           2                   NaN                 NaN       225.6
           3                   3.0                 2.0        37.6
           4                   3.0                 2.0        37.6
           5                   3.0                 2.0        75.2
...                            ...                 ...         ...
2021 5     27                  3.0                 2.0       160.0
           28                  3.0                 2.0       160.0
           29                  NaN                 NaN       260.0
           30                  NaN                 NaN       400.0
           31                  3.0                 2.0        80.0

                standard_volume  morning_volume  evening_volume  off_value  \
year month day
2017 4     1                0.0             NaN             NaN   4773.132
           2                NaN             NaN             NaN   8811.936
           3                0.0             0.0             0.0   1468.656
           4                0.0             0.0             0.0   1468.656
           5                0.0             0.0             0.0   2937.312
...                         ...             ...             ...        ...
2021 5     27               0.0             0.0             0.0   6392.000
           28               0.0             0.0             0.0   6392.000
           29               0.0             NaN             NaN  10387.000
           30               NaN             NaN             NaN  15980.000
           31               0.0             0.0             0.0   3196.000

                standard_value  morning_value  evening_value
year month day
2017 4     1               0.0            NaN            NaN
           2               NaN            NaN            NaN
           3               0.0            0.0            0.0
           4               0.0            0.0            0.0
           5               0.0            0.0            0.0
...                        ...            ...            ...
2021 5     27              0.0            0.0            0.0
           28              0.0            0.0            0.0
           29              0.0            NaN            NaN
           30              NaN            NaN            NaN
           31              0.0            0.0            0.0

[1388 rows x 29 columns]

In [150]:
daily.to_csv(out + pref + '_daily.csv')

In [151]:
hourly.to_csv(out + pref + '_hourly.csv')

In [152]:
monthly=daily.groupby(['year','month']).mean().reset_index(['month','year'])
monthly=monthly.drop(['morning_volume','off_volume','standard_volume','evening_volume','price_weight_av'],1)
monthly.rename(columns={'value':'value_mean','volume':'volume_mean','off_hour_count':'off_hour_mean','standard_hour_count':'standard_hour_mean','morning_hour_count':'morning_hour_mean','evening_hour_count':'evening_hour_mean'}, inplace=True)
monthly[['price_max','standard_price_max','off_price_max','morning_price_max','evening_price_max']]=daily.groupby(['year','month']).max().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]
monthly[['price_min','standard_price_min','off_price_min','morning_price_min','evening_price_min']]=daily.groupby(['year','month']).min().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]

monthly[['volume','morning_volume','evening_volume','standard_volume','off_volume']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['volume','morning_volume','evening_volume','standard_volume','off_volume']]
monthly[['value','morning_value','evening_value','standard_value','off_value']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['value','morning_value','evening_value','standard_value','off_value']]

monthly[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]

monthly['price_weight_mean']=monthly['value'] / monthly['volume']
monthly['off_price_weight_mean']=monthly['off_value'] / monthly['off_volume']
monthly['standard_price_weight_mean']=monthly['standard_value'] / monthly['standard_volume']
monthly['morning_price_weight_mean']=monthly['morning_value'] / monthly['morning_volume']
monthly['evening_price_weight_mean']=monthly['evening_value'] / monthly['evening_volume']


monthly['off_power']=monthly['off_volume'] / monthly['off_hour_count']
monthly['morning_power']=monthly['morning_volume'] / monthly['morning_hour_count']
monthly['standard_power']=monthly['standard_volume'] / monthly['standard_hour_count']
monthly['evening_power']=monthly['evening_volume'] / monthly['evening_hour_count']

monthly

,year,month,volume_mean,day_of_week,value_mean,price_max,price_min,price_mean,power_max,power_min,...,evening_hour_count,price_weight_mean,off_price_weight_mean,standard_price_weight_mean,morning_price_weight_mean,evening_price_weight_mean,off_power,morning_power,standard_power,evening_power
0,2017,4,105.593333,73.200000,4124.475600,61.668,39.06,53.606050,9.400000,1.566667,...,40.0,39.060000,39.06,NaN,NaN,NaN,9.400000,0.000000,0.000000,0.000000
1,2017,5,107.096774,65.290323,3970.077419,57.678,37.07,50.891763,10.000000,1.612903,...,46.0,37.070000,37.07,37.070000,37.07,37.07,10.000000,0.434783,0.391459,0.434783
2,2017,6,26.400000,78.000000,1176.384000,68.368,64.40,66.384000,4.400000,0.000000,...,6.0,44.560000,44.56,NaN,NaN,NaN,4.400000,0.000000,0.000000,0.000000
3,2017,7,273.333333,81.333333,11540.133333,68.404,42.22,54.766500,20.000000,6.666667,...,3.0,42.220000,42.22,42.220000,NaN,NaN,20.000000,0.000000,1.111111,0.000000
4,2017,8,380.833333,78.666667,22038.583333,75.400,33.40,62.785417,20.000000,15.833333,...,12.0,57.869365,33.40,84.451724,85.90,85.90,20.000000,15.000000,15.104167,15.000000
5,2017,9,214.000000,70.666667,6623.300000,56.446,30.95,48.000450,20.000000,2.666667,...,42.0,30.950000,30.95,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000
6,2017,10,214.193548,67.612903,6237.316129,54.248,29.12,45.897331,20.000000,3.225806,...,44.0,29.120000,29.12,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000
7,2017,11,334.666667,68.400000,12981.280000,51.628,27.26,44.207606,20.000000,11.333333,...,44.0,38.788685,27.26,57.720000,57.72,57.72,20.000000,10.000000,10.000000,10.000000
8,2017,12,322.922581,72.258065,11881.128000,51.972,26.74,43.069581,20.000000,10.438710,...,42.0,36.792497,26.74,58.280000,58.28,58.28,20.000000,8.600000,8.600000,8.600000
9,2018,1,214.193548,65.290323,6331.561290,55.256,29.56,46.794280,20.000000,3.225806,...,46.0,29.560000,29.56,29.560000,29.56,29.56,19.746835,0.869565,1.067616,0.869565
10,2018,2,217.142857,69.000000,6781.371429,56.806,31.23,48.223577,20.000000,2.857143,...,40.0,31.230000,31.23,31.230000,NaN,NaN,19.736842,0.000000,0.322581,0.000000
11,2018,3,220.000000,70.064516,7161.000000,58.190,32.55,49.126398,20.000000,3.225806,...,44.0,32.550000,32.55,32.550000,32.55,32.55,19.692308,0.909091,1.155235,0.909091
12,2018,4,229.333333,69.200000,7274.453333,57.320,31.72,47.817778,20.000000,4.000000,...,42.0,31.720000,31.72,31.720000,31.72,31.72,20.000000,0.952381,0.849421,0.952381
13,2018,5,107.096774,67.483871,3422.812903,54.992,31.96,47.531366,10.000000,1.612903,...,46.0,31.960000,31.96,31.960000,31.96,31.96,10.000000,0.434783,0.391459,0.434783
14,2018,6,0.000000,70.666667,0.000000,62.842,34.09,53.317900,0.000000,0.000000,...,63.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
15,2018,7,519.741935,67.612903,46709.207742,77.606,28.55,61.303452,35.561290,0.000000,...,66.0,89.870000,NaN,89.870000,89.87,89.87,0.000000,42.400000,41.726984,42.400000
16,2018,8,0.000000,68.774194,0.000000,82.464,29.80,66.944401,0.000000,0.000000,...,69.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
17,2018,9,224.666667,73.200000,5625.653333,54.416,25.04,43.940600,20.000000,3.333333,...,40.0,25.040000,25.04,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000
18,2018,10,0.000000,65.290323,0.000000,62.644,27.94,52.335419,0.000000,0.000000,...,46.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
19,2018,11,0.000000,69.066667,0.000000,53.860,27.50,45.604194,0.000000,0.000000,...,44.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
20,2019,1,0.000000,67.483871,0.000000,91.678,23.95,70.695065,0.000000,0.000000,...,46.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
21,2019,2,0.000000,69.285714,0.000000,93.766,24.67,70.631179,0.000000,0.000000,...,40.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
22,2019,3,0.000000,72.258065,0.000000,57.400,23.00,45.262903,0.000000,0.000000,...,42.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
23,2019,4,0.000000,66.133333,0.000000,24.900,24.90,24.900000,0.000000,0.000000,...,44.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
24,2019,5,0.000000,68.774194,0.000000,62.690,33.45,53.130013,0.000000,0.000000,...,46.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25,2019,6,0.000000,73.200000,0.000000,98.680,50.00,81.320847,0.000000,0.000000,...,60.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
26,2019,7,254.838710,65.290323,14270.967742,181.184,56.00,143.998968,25.000000,3.225806,...,69.0,56.000000,56.00,56.000000,NaN,NaN,25.000000,0.000000,0.381679,0.000000
27,2019,8,0.000000,70.064516,0.000000,115.730,57.45,97.008333,0.000000,0.000000,...,66.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
28,2019,9,0.000000,69.200000,0.000000,77.190,45.95,66.462097,0.000000,0.000000,...,42.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
29,2019,10,203.870968,67.483871,7129.367742,86.994,34.97,71.820333,20.000000,2.580645,...,46.0,34.970000,34.97,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000
30,2019,11,0.000000,70.666667,0.000000,91.200,56.00,79.540000,0.000000,0.000000,...,42.0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
31,2019,12,352.258065,67.612903,21163.664516,92.016,60.08,79.685871,30.000000,6.774194,...,44.0,60.080000,60.08,60.080000,60.08,60.08,30.000000,2.727273,2.444444,2.727273
32,2020,1,214.193548,68.774194,10174.193548,91.100,47.50,76.845027,20.000000,3.225806,...,46.0,47.500000,47.50,47.500000,47.50,47.50,19.746835,0.869565,1.067616,0.869565
33,2020,2,218.620690,71.586207,10931.034483,91.600,50.00,77.688506,20.000000,2.758621,...,40.0,50.000000,50.00,50.000000,NaN,NaN,19.684543,0.000000,0.392157,0.000000
34,2020,3,382.222222,123.111111,20257.777778,70.150,53.00,59.669444,20.000000,11.111111,...,0.0,53.000000,53.00,53.000000,NaN,NaN,19.534884,NaN,2.857143,NaN
35,2020,4,229.333333,68.400000,12154.666667,92.200,53.00,77.867500,20.000000,4.000000,...,44.0,53.000000,53.00,53.000000,53.00,53.00,20.000000,1.818182,1.629630,1.818182
36,2020,5,230.322581,72.258065,6895.858065,82.748,29.94,62.412661,20.000000,3.870968,...,42.0,29.940000,29.94,29.940000,29.94,29.94,20.000000,0.952381,0.827068,0.952381
37,2020,6,208.000000,66.133333,6233.760000,96.826,29.97,76.304922,20.000000,2.666667,...,66.0,29.970000,29.97,29.970000,NaN,NaN,20.000000,0.000000,0.317460,0.000000
38,2020,7,842.580645,68.774194,74471.380645,91.620,29.94,73.443468,46.129032,20.000000,...,69.0,88.384870,29.94,106.564807,107.04,107.04,20.000000,50.000000,49.541985,50.000000
39,2020,8,220.000000,70.838710,6586.800000,91.612,29.94,70.329358,20.000000,3.225806,...,63.0,29.940000,29.94,29.940000,NaN,NaN,20.000000,0.000000,0.400000,0.000000
40,2020,9,208.000000,67.733333,5187.520000,84.988,24.94,66.890200,20.000000,2.666667,...,44.0,24.940000,24.94,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000
41,2020,10,209.677419,70.064516,5648.709677,85.388,26.94,66.612366,20.000000,2.580645,...,44.0,26.940000,26.94,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000
42,2020,11,218.666667,69.200000,6546.880000,101.988,29.94,77.246517,20.000000,3.333333,...,42.0,29.940000,29.94,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000
43,2020,12,218.709677,67.483871,9828.812903,88.988,44.94,74.438543,20.000000,3.870968,...,46.0,44.940000,44.94,44.940000,44.94,44.94,20.000000,0.869565,1.281139,0.869565
44,2021,1,230.322581,72.258065,10120.374194,88.788,43.94,71.517903,20.000000,3.870968,...,42.0,43.940000,43.94,43.940000,43.94,43.94,19.706745,0.952381,1.203008,0.952381
45,2021,2,116.171429,70.142857,5568.096571,89.586,47.93,75.886631,10.700000,1.528571,...,40.0,47.930000,47.93,47.930000,NaN,NaN,10.559211,0.000000,0.172581,0.000000
46,2021,3,203.870968,65.290323,10187.432258,89.994,49.97,78.105151,20.000000,2.580645,...,46.0,49.970000,49.97,49.970000,NaN,NaN,19.746835,0.000000,0.284698,0.000000
47,2021,4,229.333333,69.066667,9161.866667,87.990,39.95,70.275250,20.000000,4.000000,...,44.0,39.950000,39.95,39.950000,39.95,39.95,20.000000,1.818182,1.629630,1.818182
48,2021,5,224.516129,70.838710,8969.419355,87.990,39.95,70.733696,20.000000,3.870968,...,42.0,39.950000,39.95,39.950000,NaN,NaN,20.000000,0.000000,0.526316,0.000000

In [153]:
monthly['evening_days']=daily.loc[daily['evening_hour_count']>0].groupby(['year','month']).count().reset_index(['month','year'])['volume']
monthly['morning_days']=daily.loc[daily['morning_hour_count']>0].groupby(['year','month']).count().reset_index(['month','year'])['volume']
monthly['days']=daily.groupby(['year','month']).count().reset_index(['month','year'])['volume']

monthly

,year,month,volume_mean,day_of_week,value_mean,price_max,price_min,price_mean,power_max,power_min,...,standard_price_weight_mean,morning_price_weight_mean,evening_price_weight_mean,off_power,morning_power,standard_power,evening_power,evening_days,morning_days,days
0,2017,4,105.593333,73.200000,4124.475600,61.668,39.06,53.606050,9.400000,1.566667,...,NaN,NaN,NaN,9.400000,0.000000,0.000000,0.000000,20.0,20.0,30
1,2017,5,107.096774,65.290323,3970.077419,57.678,37.07,50.891763,10.000000,1.612903,...,37.070000,37.07,37.07,10.000000,0.434783,0.391459,0.434783,23.0,23.0,31
2,2017,6,26.400000,78.000000,1176.384000,68.368,64.40,66.384000,4.400000,0.000000,...,NaN,NaN,NaN,4.400000,0.000000,0.000000,0.000000,2.0,2.0,2
3,2017,7,273.333333,81.333333,11540.133333,68.404,42.22,54.766500,20.000000,6.666667,...,42.220000,NaN,NaN,20.000000,0.000000,1.111111,0.000000,1.0,1.0,3
4,2017,8,380.833333,78.666667,22038.583333,75.400,33.40,62.785417,20.000000,15.833333,...,84.451724,85.90,85.90,20.000000,15.000000,15.104167,15.000000,4.0,4.0,6
5,2017,9,214.000000,70.666667,6623.300000,56.446,30.95,48.000450,20.000000,2.666667,...,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000,21.0,21.0,30
6,2017,10,214.193548,67.612903,6237.316129,54.248,29.12,45.897331,20.000000,3.225806,...,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000,22.0,22.0,31
7,2017,11,334.666667,68.400000,12981.280000,51.628,27.26,44.207606,20.000000,11.333333,...,57.720000,57.72,57.72,20.000000,10.000000,10.000000,10.000000,22.0,22.0,30
8,2017,12,322.922581,72.258065,11881.128000,51.972,26.74,43.069581,20.000000,10.438710,...,58.280000,58.28,58.28,20.000000,8.600000,8.600000,8.600000,21.0,21.0,31
9,2018,1,214.193548,65.290323,6331.561290,55.256,29.56,46.794280,20.000000,3.225806,...,29.560000,29.56,29.56,19.746835,0.869565,1.067616,0.869565,23.0,23.0,31
10,2018,2,217.142857,69.000000,6781.371429,56.806,31.23,48.223577,20.000000,2.857143,...,31.230000,NaN,NaN,19.736842,0.000000,0.322581,0.000000,20.0,20.0,28
11,2018,3,220.000000,70.064516,7161.000000,58.190,32.55,49.126398,20.000000,3.225806,...,32.550000,32.55,32.55,19.692308,0.909091,1.155235,0.909091,22.0,22.0,31
12,2018,4,229.333333,69.200000,7274.453333,57.320,31.72,47.817778,20.000000,4.000000,...,31.720000,31.72,31.72,20.000000,0.952381,0.849421,0.952381,21.0,21.0,30
13,2018,5,107.096774,67.483871,3422.812903,54.992,31.96,47.531366,10.000000,1.612903,...,31.960000,31.96,31.96,10.000000,0.434783,0.391459,0.434783,23.0,23.0,31
14,2018,6,0.000000,70.666667,0.000000,62.842,34.09,53.317900,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,21.0,21.0,30
15,2018,7,519.741935,67.612903,46709.207742,77.606,28.55,61.303452,35.561290,0.000000,...,89.870000,89.87,89.87,0.000000,42.400000,41.726984,42.400000,22.0,22.0,31
16,2018,8,0.000000,68.774194,0.000000,82.464,29.80,66.944401,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,23.0,23.0,31
17,2018,9,224.666667,73.200000,5625.653333,54.416,25.04,43.940600,20.000000,3.333333,...,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000,20.0,20.0,30
18,2018,10,0.000000,65.290323,0.000000,62.644,27.94,52.335419,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,23.0,23.0,31
19,2018,11,0.000000,69.066667,0.000000,53.860,27.50,45.604194,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,22.0,22.0,30
20,2019,1,0.000000,67.483871,0.000000,91.678,23.95,70.695065,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,23.0,23.0,31
21,2019,2,0.000000,69.285714,0.000000,93.766,24.67,70.631179,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,20.0,20.0,28
22,2019,3,0.000000,72.258065,0.000000,57.400,23.00,45.262903,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,21.0,21.0,31
23,2019,4,0.000000,66.133333,0.000000,24.900,24.90,24.900000,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,22.0,22.0,30
24,2019,5,0.000000,68.774194,0.000000,62.690,33.45,53.130013,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,23.0,23.0,31
25,2019,6,0.000000,73.200000,0.000000,98.680,50.00,81.320847,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,20.0,20.0,30
26,2019,7,254.838710,65.290323,14270.967742,181.184,56.00,143.998968,25.000000,3.225806,...,56.000000,NaN,NaN,25.000000,0.000000,0.381679,0.000000,23.0,23.0,31
27,2019,8,0.000000,70.064516,0.000000,115.730,57.45,97.008333,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,22.0,22.0,31
28,2019,9,0.000000,69.200000,0.000000,77.190,45.95,66.462097,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,21.0,21.0,30
29,2019,10,203.870968,67.483871,7129.367742,86.994,34.97,71.820333,20.000000,2.580645,...,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000,23.0,23.0,31
30,2019,11,0.000000,70.666667,0.000000,91.200,56.00,79.540000,0.000000,0.000000,...,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,21.0,21.0,30
31,2019,12,352.258065,67.612903,21163.664516,92.016,60.08,79.685871,30.000000,6.774194,...,60.080000,60.08,60.08,30.000000,2.727273,2.444444,2.727273,22.0,22.0,31
32,2020,1,214.193548,68.774194,10174.193548,91.100,47.50,76.845027,20.000000,3.225806,...,47.500000,47.50,47.50,19.746835,0.869565,1.067616,0.869565,23.0,23.0,31
33,2020,2,218.620690,71.586207,10931.034483,91.600,50.00,77.688506,20.000000,2.758621,...,50.000000,NaN,NaN,19.684543,0.000000,0.392157,0.000000,20.0,20.0,29
34,2020,3,382.222222,123.111111,20257.777778,70.150,53.00,59.669444,20.000000,11.111111,...,53.000000,NaN,NaN,19.534884,NaN,2.857143,NaN,22.0,22.0,9
35,2020,4,229.333333,68.400000,12154.666667,92.200,53.00,77.867500,20.000000,4.000000,...,53.000000,53.00,53.00,20.000000,1.818182,1.629630,1.818182,21.0,21.0,30
36,2020,5,230.322581,72.258065,6895.858065,82.748,29.94,62.412661,20.000000,3.870968,...,29.940000,29.94,29.94,20.000000,0.952381,0.827068,0.952381,22.0,22.0,31
37,2020,6,208.000000,66.133333,6233.760000,96.826,29.97,76.304922,20.000000,2.666667,...,29.970000,NaN,NaN,20.000000,0.000000,0.317460,0.000000,23.0,23.0,30
38,2020,7,842.580645,68.774194,74471.380645,91.620,29.94,73.443468,46.129032,20.000000,...,106.564807,107.04,107.04,20.000000,50.000000,49.541985,50.000000,21.0,21.0,31
39,2020,8,220.000000,70.838710,6586.800000,91.612,29.94,70.329358,20.000000,3.225806,...,29.940000,NaN,NaN,20.000000,0.000000,0.400000,0.000000,22.0,22.0,31
40,2020,9,208.000000,67.733333,5187.520000,84.988,24.94,66.890200,20.000000,2.666667,...,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000,22.0,22.0,30
41,2020,10,209.677419,70.064516,5648.709677,85.388,26.94,66.612366,20.000000,2.580645,...,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000,21.0,21.0,31
42,2020,11,218.666667,69.200000,6546.880000,101.988,29.94,77.246517,20.000000,3.333333,...,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000,23.0,23.0,30
43,2020,12,218.709677,67.483871,9828.812903,88.988,44.94,74.438543,20.000000,3.870968,...,44.940000,44.94,44.94,20.000000,0.869565,1.281139,0.869565,21.0,21.0,31
44,2021,1,230.322581,72.258065,10120.374194,88.788,43.94,71.517903,20.000000,3.870968,...,43.940000,43.94,43.94,19.706745,0.952381,1.203008,0.952381,20.0,20.0,31
45,2021,2,116.171429,70.142857,5568.096571,89.586,47.93,75.886631,10.700000,1.528571,...,47.930000,NaN,NaN,10.559211,0.000000,0.172581,0.000000,23.0,23.0,28
46,2021,3,203.870968,65.290323,10187.432258,89.994,49.97,78.105151,20.000000,2.580645,...,49.970000,NaN,NaN,19.746835,0.000000,0.284698,0.000000,22.0,22.0,31
47,2021,4,229.333333,69.066667,9161.866667,87.990,39.95,70.275250,20.000000,4.000000,...,39.950000,39.95,39.95,20.000000,1.818182,1.629630,1.818182,21.0,21.0,30
48,2021,5,224.516129,70.838710,8969.419355,87.990,39.95,70.733696,20.000000,3.870968,...,39.950000,NaN,NaN,20.000000,0.000000,0.526316,0.000000,NaN,NaN,31

In [154]:
monthly.to_csv(out + pref + '_monthly.csv')

In [155]:
monthly_filt=monthly.loc[monthly['year']<2020]
daily_filt=daily.reset_index().loc[daily.reset_index()['year']<2020]

In [156]:
calmonthly=daily_filt.groupby(['month']).mean().reset_index()
calmonthly=calmonthly.drop(['year','day','volume','standard_volume','off_volume','morning_volume','evening_volume'],1)
calmonthly.rename(columns={'value':'value_mean','volume':'volume_mean','price_weight_av': 'price_weight_mean','off_hour_count':'off_hour_mean','standard_hour_count':'standard_hour_mean','morning_hour_count':'morning_hour_mean','evening_hour_count':'evening_hour_mean'}, inplace=True)

calmonthly[['volume', 'off_volume','standard_volume', 'morning_volume', 'evening_volume']]=monthly_filt.groupby(['month']).mean().reset_index()[['volume','off_volume','standard_volume', 'morning_volume', 'evening_volume']]
calmonthly[['value', 'off_value','standard_value', 'morning_value', 'evening_value']]=monthly_filt.groupby(['month']).mean().reset_index()[['value','off_value','standard_value', 'morning_value', 'evening_value']]

calmonthly

,month,day_of_week,value_mean,price_weight_mean,price_max,price_min,price_mean,power_max,power_min,power_mean,...,off_value,standard_value,morning_value,evening_value,volume,off_volume,standard_volume,morning_volume,evening_volume,value
0,1,66.387097,3165.780645,29.560000,77.092742,26.755000,58.744672,10.000000,1.612903,4.634409,...,92227.200000,4434.000000,886.800,591.200000,3320.000000,3120.000000,150.000000,30.0,20.000000,98139.200000
1,2,69.142857,3390.685714,31.230000,78.667143,27.950000,59.427378,10.000000,1.428571,4.684524,...,93690.000000,1249.200000,0.000,0.000000,3040.000000,3000.000000,40.000000,0.0,0.000000,94939.200000
2,3,71.161290,3580.500000,32.550000,59.247581,27.775000,47.194651,10.000000,1.612903,4.827957,...,104160.000000,5208.000000,976.500,651.000000,3410.000000,3200.000000,160.000000,30.0,20.000000,110995.500000
3,4,69.511111,3799.642978,35.390000,48.276667,31.893333,42.107943,9.800000,1.855556,4.833500,...,110605.822667,2326.133333,634.400,422.933333,3349.266667,3242.600000,73.333333,20.0,13.333333,113989.289333
4,5,67.182796,2464.296774,34.515000,59.628817,34.160000,50.517714,6.666667,1.075269,3.075269,...,72711.600000,2531.100000,690.300,460.200000,2213.333333,2106.666667,73.333333,20.0,13.333333,76393.200000
5,6,72.129032,37.947871,44.560000,82.694032,42.126129,67.289200,0.141935,0.000000,0.037849,...,784.256000,0.000000,0.000,0.000000,17.600000,17.600000,0.000000,0.0,0.000000,784.256000
6,7,67.138462,29615.474462,69.988000,132.806923,42.272462,100.441146,29.806154,1.846154,16.588308,...,156858.666667,317148.474667,83830.736,83830.736000,8277.333333,2866.666667,3545.066667,932.8,932.800000,641668.613333
7,8,70.235294,1944.580882,60.402107,101.647206,42.722794,80.283048,1.764706,1.397059,1.517770,...,13360.000000,20409.166667,5154.000,5154.000000,761.666667,400.000000,241.666667,60.0,60.000000,44077.166667
8,9,71.022222,4082.984444,27.995000,64.234111,33.980000,52.801049,13.333333,2.000000,6.335185,...,122489.533333,0.000000,0.000,0.000000,4386.666667,4386.666667,0.000000,0.0,0.000000,122489.533333
9,10,66.795699,4455.561290,32.045000,70.931828,30.676667,56.684361,13.333333,1.935484,5.994624,...,138122.400000,0.000000,0.000,0.000000,4320.000000,4320.000000,0.000000,0.0,0.000000,138122.400000
10,11,69.377778,4327.093333,40.179423,67.949556,36.920000,56.450600,6.666667,3.777778,4.812037,...,56700.800000,51948.000000,12698.400,8465.600000,3346.666667,2080.000000,900.000000,220.0,146.666667,129812.800000
11,12,69.935484,16522.396258,49.097035,72.089355,43.410000,61.377726,25.000000,8.606452,14.681935,...,390381.800000,86487.064000,21195.252,14130.168000,10465.300000,8390.000000,1473.800000,360.9,240.600000,512194.284000

In [157]:
calmonthly.to_csv(out + pref + '_calmonthly.csv')

In [158]:
calmonthly_hours=hourly.groupby(['month','hour']).mean()
calmonthly_hours=calmonthly_hours.drop(['year','day','day_of_week'],1)
calmonthly_hours

                price     volume        value
month hour
1     0     36.237500  15.000000   605.000000
      1     36.237500  15.000000   605.000000
      2     36.237500  15.000000   605.000000
      3     36.237500  15.000000   605.000000
      4     36.237500  15.000000   605.000000
...               ...        ...          ...
12    19    77.840645   7.027957   362.526968
      20    72.651828   9.576344   470.849118
      21    72.651828   9.576344   470.849118
      22    43.920000  23.333333  1078.666667
      23    43.920000  23.333333  1078.666667

[288 rows x 3 columns]

In [159]:
calmonthly_hours.to_csv(out + pref + '_calmonthly_hours.csv')